body{ /* Set the global font size at the body element for the BlueBerry theme*/
	font:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
	color: #434343;
	background: #ffffff;
	 
}
/* changed background color to match ASW styles*/
#wrapper {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 960px;
	background: #ececec;
}

/* changed footer image copyright text to match ASW styles*/
#footer {
    background: url("") no-repeat scroll right center white;
    border-top: 10px solid #BDBEBD;
    color: #FFFFFF;
    min-height: 50px;
    overflow: hidden;
    width: 100%;  
}

/* dashboard changes to match ASW styles*/
.x-panel-body {
    background-color: #ececec;
    border-color: #D0D0D0;
}

.x-panel-mc {
    background-color: #ffffff;
    font: 9px Verdana,Arial,Helvetica,sans-serif;
}


/*Set BlueBerry Theme banner color */

.dct_pas  #banner{
	background: #ffffff url("../images/banner-policy-asw.png") no-repeat left top;
	 height: 110px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

.dct_pty  #banner{
	background: #ffffff url("../images/banner-party-asw.png") no-repeat left top;
	 height: 110px;
    margin-bottom: 10px;
    position: relative;
    width: 100%;
}

/*
    Set main navigation links positioning for ASW banner style
*/
.bulletLink {

 margin-top: 7px;
 }
/*    Button Types CSS changes for BlueBerry theme
*/

.g-loneIcon{margin-right:2px;}
.g-loneIcon .g-btn-text{ color: #333333;}
.g-loneIcon .g-btn-l{ display:none; }
.g-loneIcon .g-btn-m{ background:transparent none; height:16px; padding-top:4px; }
.g-loneIcon .g-btn-r{ display:none; }

.g-hyperlink .g-btn-text{ color: #0063a4; text-decoration:underline;}
.g-hyperlink .g-btn-l{ display:none; }
.g-hyperlink .g-btn-m{ background:transparent none; }
.g-hyperlink .g-btn-r{ display:none; }


/*
    Button Styles by Purpose
*/

/* This is the default button type */
.g-standard .g-btn-text{ color: #ffffff;}
.g-standard .g-btn-l{ background-position: 0px 0px; }
.g-standard .g-btn-m{ background-position: 0px -24px; }
.g-standard .g-btn-r{ background-position: 0px -48px; }

.g-cancel .g-btn-text{ color: #333333;}
.g-cancel .g-btn-l{ background-position: 0px -216px; }
.g-cancel .g-btn-m{ background-position: 0px -240px; }
.g-cancel .g-btn-r{ background-position: 0px -264px; }

/*
    Button Styles by Color
*/

.g-green .g-btn-text{ color: #ffffff;}
.g-green .g-btn-l{ background-position: 0px -721px; }
.g-green .g-btn-m{ background-position: 0px -745px; }
.g-green .g-btn-r{ background-position: 0px -769px; }

.g-white .g-btn-text{ color: #333333;}
.g-white .g-btn-l{ background-position: 0px -72px; }
.g-white .g-btn-m{ background-position: 0px -96px; }
.g-white .g-btn-r{ background-position: 0px -120px; }

.g-black .g-btn-text{ color: #ffffff;}
.g-black .g-btn-l{ background-position: 0px -144px; }
.g-black .g-btn-m{ background-position: 0px -168px; }
.g-black .g-btn-r{ background-position: 0px -192px; }

.g-gray .g-btn-text{ color: #333333;}
.g-gray .g-btn-l{ background-position: 0px -216px; }
.g-gray .g-btn-m{ background-position: 0px -240px; }
.g-gray .g-btn-r{ background-position: 0px -264px; }

.g-transparent .g-btn-text{ color: #FFFFFF;}
.g-transparent .g-btn-l{ background-position: 0px -288px; }
.g-transparent .g-btn-m{ background-position: 0px -312px; }
.g-transparent .g-btn-r{ background-position: 0px -336px; }
.g-transparent {margin-right:0px;}

.g-blue .g-btn-text{ color: #ffffff;}
.g-blue .g-btn-l{ background-position: 0px -360px; }
.g-blue .g-btn-m{ background-position: 0px -384px; }
.g-blue .g-btn-r{ background-position: 0px -408px; }

.g-lightBlue .g-btn-text{ color: #ffffff; padding-top:4px;}
.g-lightBlue .g-btn-img-left{ padding-top:3px; }
.g-lightBlue .g-btn-img-right{ padding-top:3px; }
.g-lightBlue .g-btn-l{ background-position: 0px -432px; }
.g-lightBlue .g-btn-m{ background-position: 0px -456px; }
.g-lightBlue .g-btn-r{ background-position: 0px -480px; }

.g-lightGreen .g-btn-text{ color: #ffffff; padding-top:4px;}
.g-lightGreen .g-btn-img-left{ padding-top:3px; }
.g-lightGreen .g-btn-img-right{ padding-top:3px; }
.g-lightGreen .g-btn-l{ background-position: 0px -504px; }
.g-lightGreen .g-btn-m{ background-position: 0px -528px; }
.g-lightGreen .g-btn-r{ background-position: 0px -552px; }

.g-orange .g-btn-text{ color: #ffffff; padding-top:4px;}
.g-orange .g-btn-img-left{ padding-top:3px; }
.g-orange .g-btn-img-right{ padding-top:3px; }
.g-orange .g-btn-l{ background-position: 0px -576px; }
.g-orange .g-btn-m{ background-position: 0px -600px; }
.g-orange .g-btn-r{ background-position: 0px -624px; }

.g-red .g-btn-text{ color: #ffffff; padding-top:4px;}
.g-red .g-btn-img-left{ padding-top:3px; }
.g-red .g-btn-img-right{ padding-top:3px; }
.g-red .g-btn-l{ background-position: 0px -648px; }
.g-red .g-btn-m{ background-position: 0px -672px; }
.g-red .g-btn-r{ background-position: 0px -696px; }

/* button setup for BlueBerry Theme -------------------------------------------------------------------------------------------------------------------*/
.g-btn-bar {float:left; clear:both;}
.g-btn-bar > div {float:left;}
/* .g-btn{ height:24px; overflow:hidden; margin-right:10px; }*/
.g-btn > a{ height:24px; overflow:hidden; float:left; text-decoration:none; }
.g-btn-l{ background:transparent url('../images/blueberry-btn-slice.png') no-repeat left -216px; float:left; height:24px; cursor:pointer; width:7px; }
.g-btn-m{ background:transparent url('../images/blueberry-btn-slice.png') repeat-x left -240px; float:left; height:24px; cursor:pointer; }
.g-btn-r{ background:transparent url('../images/blueberry-btn-slice.png') no-repeat right -264px; float:left; height:24px; cursor:pointer; width:7px; }
.g-btn-img-left{ float:left; padding:4px 4px 0px 0px; }
.g-btn-img-right{ padding:4px 0px 0px 4px; }
.g-btn-text{ display:block; float:left; padding:5px 0px 3px 0px; height:16px; font-size:0.9em; font-weight:bold; color: #333333;}
/* button setup for BlueBerry Theme -------------------------------------------------------------------------------------------------------------------*/

.g-pageAction{
	float: left;
	clear: both;
	margin: 10px 0px 10px 0px;	
}
.g-pageAction #previous{
	float:left
}
.g-pageAction #next{
	float:left
}
.g-actionAcross{
	float:left;
}
.g-groupAction{
	float:left;
	margin: 0px 0px 10px 0px;	
}
.g-action{
	float:left;
	margin: 10px 0px 10px 0px;	
}
.acrossLayout > .g-action{
	margin: 0px 0px 0px 0px; /* these guys are probably in a row of fields */
}
.acrossLayout > .g-action-caption-above{
	margin: 13px 0px 0px 0px; /* these guys are probably in a row of fields */
}
td > .g-action{
	margin: 0px 0px 0px 0px; /* these guys are probably in a row of fields */
}
.action{
	list-style: none;
	float: left;
	clear: none;
	margin: 10px 0px 10px 0px;
}
.btnPadTop{ /*Add some top margin to buttons that are to the right of across forms*/
	margin-top: 23px;
}
.btnDisabled{
	filter: alpha(opacity=20);
	opacity:0.2;
}
.btnDisabled a{
	cursor: default;
}
.btnClearBoth{
	clear: both;
}
.gridAction IMG{
	padding: 0px 3px 0px 3px;
}

.editable{
	background: transparent url(../images/editable.gif) no-repeat 0 0;
}

/*shut off arrow images to embedded on buttons to replicate the ASW style*/
.g-btn-img-right { display:none;}

.g-btn-img-left  { display:none;}

.bulletLink  img{ display:none;}

#actiongroup .active a {
    background: url("../images/newTabSprites-asw.png") no-repeat scroll right top transparent;
    color: #FFFFFF;
	
}
#actiongroup {
	position: absolute;
	top:65px;
	left:20px;
	height:29px;
}
#actiongroup ul{
	float:left;
}
#actiongroup li {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size:12px;
	white-space: nowrap;
}
#actiongroup li a {
	float: left;
	display: block;
	padding: 10px 17px 7px 0px;
	text-decoration: none;
	font-weight: bold;
	color: #ffffff;
}
#actiongroup li:hover {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size:11px;
	white-space: nowrap;
	background: url("../images/newTabSprites-asw.png") no-repeat left top;
}
#actiongroup li:hover a span{
	text-decoration:none;
}
#actiongroup .active {
	background: url(../images/newTabSprites-asw.png) no-repeat left top;
}
#actiongroup .active a {
	color: #ffffff;
}

/*Form changes ASW style*/
.cc_LightPanel > div > div > div > .cc-bubble-mc {
    background: none repeat scroll 0 0 #ffffff;
}   

.cc_LightPanel > div > .cc-bubble-ml {
    background: url("") repeat-y scroll 0 0 transparent;}

.cc_LightPanel > div > div > .cc-bubble-mr {
    background: url("") repeat-y scroll right 0 transparent  
}
.cc_LightPanel > div > div > div > .cc-bubble-mc {
    background: none repeat scroll 0 0 #ffffff;
}
.cc_LightPanel > div > div > div > div > .cc-bubble-body {
    background: none repeat scroll 0 0 transparent;
}
.cc_LightPanel > div > .cc-bubble-bl {display:none;
    background: url("") no-repeat scroll 0 bottom transparent 
}
.cc_LightPanel > div > div > .cc-bubble-br {display:none;
    background: url("") no-repeat scroll right bottom transparent  
}
.cc_LightPanel > div > div > div > .cc-bubble-bc {display:none;
    background: url("") repeat-x scroll 0 bottom transparent  
}
.cc_LightPanel > div > div > .cc-bubble-tc {display:none;
    background: url("") repeat-x scroll 0 bottom transparent 
    height: auto;
    min-height: 15px;
}
.cc_LightPanel > .cc-bubble-tl {display:none;
    background: url("") no-repeat scroll left bottom transparent 
}
.cc_LightPanel > div > .cc-bubble-tr {display:none;
    background: url("") no-repeat scroll right bottom transparent  
}


/*changed billing active section to include new column header. ASW style*/
#billingActiveSection, #policyActiveSection {
    background: url("../images/moduleActiveSession.png") no-repeat scroll left top transparent;
    margin: 0 0 10px;
    min-height: 65px;
    width: 200px;
}
#activeAccountNameId {
    color: #868686;
    font-size: 13px;
    font-weight: bold;
    margin: 6px 3px 0 30px;
}
#activeAccountReferenceId {
    color: #868686;
    font-size: 9px;
    margin: 2px 3px 2px 30px;
}
/*changed Policy actions section to include new column header. ASW style*/
.ruleset_leftNav #relatedActions {
  background: url("../images/modulePolicyTasksBk.png") no-repeat scroll left top transparent;
  margin: 20px 0 0;
  width: 200px;
}	
.ruleset_leftNav #relatedActions .innerleftpanel{
    background: url("../../../images/left-nav-bottom.png") no-repeat scroll left bottom transparent;
    margin: 10px 0px 0px 0px;
    width: 190px;
    padding: 10px 0px 10px 10px;
	clear:both;
}


#relatedActionsTitle, #logonActionsTitle {
    color: #ffffff;
    font-size: 13px;
    font-weight: bold;
    margin: 6px 0 0 30px;
}

#leftPanelAreaBody {
	overflow: hidden;
	width: 100%;
	margin-left: 8px;
}

.ruleset_topNav #fields.styleWithOutPanels {
	width: 954px;
	margin-left: 0px;
	padding-left: 8px;
}
 .ruleset_topNav #fields.styleWithTopLeftPanels { 
   	width: 710px; 
   	margin-left: 0px; 
   	padding-left: 8px; 
   } 
/*changed rules sets for leftnav to ASW style*/
#pageTitle {
  color: #484843;
  font-size: 1.5em;
  line-height: 1.5em;
	margin-left: 8px;
}

#pageInstruction{
	margin-left: 8px;
}

.ext-gecko .x-form-display-field, .ext-strict .ext-ie7 .x-form-display-field {
    padding-top: 1px;
	 margin-left: 8px;
}

#pageNav li a, #subactiongroup li a {
    color: #ffffff;
    display: block;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 5px;
    text-decoration: none;
}

/*changed rules sets for password changeout to ASW style*/
#existingPasswordLabel, #newpasswordLabel, #confirmpasswordLabel {
 margin-left: 8px;}
 

/* turned off for now. TBD
#pageTitle {
    color: #ffffff;
    font-size: 13px;
    margin-left: 8px;
	 padding-left: 5px;
	font-weight: bold;
	width: 98%;
	height: 25px;
	
	background-image: url("../images/blueberry-column-headers.png")

	} */
	
/*changed rules sets for Billing section TOP NAV  to ASW style*/ 
 #pageNav, #subactiongroup {
 	background: none repeat scroll 0 0 #9E957E;
  float: left;
  width: 946px;
}

#pageNav li:hover {
  background: none repeat scroll 0 0 #5F5440;
}
#pageNav li.activeTab {
    background: none repeat scroll 0 0 #5F5440;
}
#pageNav li a {
    color: #FFFFFF;
}

/*-------------------------------------------------changed New Qoute button to ASW style*/ 
#specialactions {
    height: 24px;
    position: absolute;
    right: 10px;
    top: 32px;
}
/* TT 647469 PRM increased from 90 to 130 to accomodate Italian version */
.ext-ie8 #specialactions {
	width: 130px;
}
#specialactions a {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 24px;
    margin-right: 5px;
    text-decoration: none;
}
.specialActionLeft, .specialActionMiddle, .specialActionRight {
}
.specialActionLeft {
    background: url("../images/specialActionsSprite-asw.png") no-repeat scroll left top transparent;
    float: left;
    height: 24px;
    width: 5px;
}
.specialActionMiddle {
    background: url("../images/specialActionsSprite-asw.png") repeat-x scroll left -24px transparent;
    float: left;
    height: 20px;
    padding: 4px 3px 0;
}
.specialActionRight {
    background: url("../images/specialActionsSprite-asw.png") no-repeat scroll right -48px transparent;
    float: left;
    height: 24px;
    width: 5px;
}
#specialactions a img {
    float: left;
    margin-right: 3px;
}
#specialactions a span {
    display: block;
    float: left;
}
.dct_login #wrapper{
	width: 728px;
	height: 382px;
	background: #ffffff url("../images/loginBk.png") no-repeat left top;
	margin:125px auto 0px auto;
	position:relative;
}
.dct_popup #pageTop{
	background: #6792C9 url("../images/popupTitleBG-asw.png") no-repeat right bottom;
}
.dct_popup #wrapper {
	width: 100%;
	margin: 0px 0px 0px 0px;
}


/*-------------------------------------------------changed Quick Search label to ASW style*  9-26-11-----------------*/ 
#quickSearch {
    font-size: 11px;
}

#quickSearchLabel {
    float: left;
    padding-top: 6px;
    width: 75px;
}
/*changed rules sets for Billing section TOP NAV  to ASW style*-------9-26-11---------------------------------------------*/ 

#pageNav li:hover {
    background: none repeat scroll 0 0 #5F5440;
}
#pageNav li.activeTab {
    background: none repeat scroll 0 0 #5F5440;
}

/*changes to ASW style*-------9-27-11------------------------------------------------------------------------------------------------------------------------------*/ 


#moduleDisplayTable TD {
  padding: 5px 3px 5px 0;
	background: url("../images/list_bg.gif") repeat-x scroll center bottom transparent;
	margin-top: 3px;
	padding: 3px;
}
#footer_one #fLogOut {
	background: url("") no-repeat scroll left top transparent; display:none;
}

#productNavigationDiv .pasLink {
    background: url("../images/asw-topnav-policy-button.png") no-repeat scroll left top transparent;
}

#productNavigationDiv #Billing {
    background: url("../images/asw-topnav-billing-button.png") no-repeat scroll left top transparent;
}

#productNavigationDiv #Party {
    background: url("../images/asw-topnav-party-button.png") no-repeat scroll left top transparent;
}

#productNavigationDiv #id_LogOut {
    background: url("../images/asw-topnav-logout-button.png") no-repeat scroll left top transparent;
}




#productNavigationDiv a {
  color: #FFFFFF;
  font-weight: bold;
  height: 20px;
  padding-top: 2px;
  padding-left: 4px;
  padding-right: 0px;
  padding-bottom: 0px;
  margin: 0 8px 0 0;
  text-decoration: none;
  width: 71px;
}




#productNavigationDiv a:hover {
    text-decoration: none;
}


#relatedActions li, #logonActions li {
    background: url("../images/list_bg.gif") repeat-x scroll left transparent;
    padding: 0px 0 3px 0px;
}

.ruleset_leftNav #relatedActions > ul > li > a {
	display: block;
	padding-left: 17px;
}

#relatedActions a, #logonActions a {
    color: #000000;
	font:Verdana,Arial,Helvetica,sans-serif;
    font-size: 11px;
	
}
#relatedActions li:hover, #logonActions li:hover {
    background: url("../images/list_bg_hover.gif") repeat-x scroll left  transparent;}
	
	#relatedActions a, #logonActions a {
    color: #000000;
	
    text-decoration: none;
}
#relatedActions:hover a, #logonActions:hover a {
    color: #000000;
}
#relatedActions ul, #logonActions ul {
    margin-left: 0px;
}
.ruleset_topNav #relatedActions ul {
    margin-right: 8px;
}
.ruleset_leftNav #relatedActions ul {
    margin-bottom: -16px;
}

/*changes to PageNav that are currently effecting the topNav -------9-27-11------------------------------------------------------------------------------------------------------------------------------*/

.ruleset_leftNav #pageNav li.activeTab, #subactiongroup li.activeTab {
    background: url("../images/list_bg_selected.gif") repeat-x scroll left bottom transparent !important;
}

.ruleset_leftNav #pageNav li.inactiveTab {
    
	 background: url("../images/list_bg.gif") repeat-x scroll center transparent;
	
} 
.ruleset_leftNav #pageNav li:hover {
   
	 background: url("../images/list_bg_hover.gif") repeat-x scroll center  transparent;
	
}

.ruleset_leftNav #pageNav > ul > li > a, #subactiongroup > ul > li > a {
    padding-bottom: 1px;
    padding-top: 1px;
}
.ruleset_leftNav #pageNav li a, #subactiongroup li a {
    color: #000000;
    display: block;
    font-size: 11px;
    padding-left: 20px;
    padding-right: 5px;
    text-decoration: none;
    width: 165px;
}

.ruleset_leftNav #pageNav li, #subactiongroup li {
    float: left;
    height: 100%;.
}

.ruleset_leftNav #pageNav, #subactiongroup {
    background: #ececec;
    float: left;
    width: 100%;
}

.ruleset_leftNav #pageNav > ul > li, #subactiongroup > ul > li {
    background: url("../images/list_bg.gif") repeat-x scroll left transparent;
    border-bottom: 0 solid #ECECEC;
    clear: both;
    float: left;
    margin: 0;
    padding-bottom: 3px;
    padding-top: 3px;
    width: 190px;
}
.ruleset_leftNav #pageNav li:hover, #subactiongroup li:hover {
    background: url("../images/list_bg_hover.gif") repeat-x   scroll left  transparent;
}

/*changes to link states to match ASW style*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

a:link, a:visited, a:active {
  color: #4065af;
	font:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}

/*changes to links states on Billing section to match ASW style*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

.g-hyperlink .g-btn-text{ 
	color: #4065AF;
	font:Verdana,Arial,Helvetica,sans-serif;
	text-decoration:underline;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
}

/*changes header nav to match ASW style* this is also in the code above. added background image.------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

#actiongroup li {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size:11px;
	white-space: nowrap;
	background: url("../images/nav-divider-asw.png")no-repeat right bottom transparent;
}


/*changes to "Quick Search" label. Label removed to match ASW style. This is also in the code above. Please update this in the code above*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

#quickSearchLabel {
  display:none;
	float: left;
  padding-top: 6px;
  width: 75px;
}
/*changes to "Search By" label. Label removed to match ASW style*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

#searchLabel {
  display:none;
	float: left;
  padding-top: 3px;
  width: 60px;
}
/*repositioned nav div to accomodate for new logo treament. This is also in the code above. Please update this in the code above*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

#productNavigationDiv {
  left: 355px;
  position: absolute;
  top: 5px;
  width: 330px;
}

/*changes to form combo box bg to convert to ASW style*-------9-28-11------------------------------------------------------------------------------------------------------------------------------*/ 

.x-combo-list-item {
  background-color: #FDF7EB;
	border-color: #D7D7D7;
}

/*changes to bannner to convert to ASW style new class file please delete old banner ID  in above code*-------9-29-11------------------------------------------------------------------------------------------------------------------------------*/ 	 
 
 .dct_bil  #banner, .dct_bilact #banner{
	background: #ffffff url("../images/banner-billing-asw.png") no-repeat left top;
	height: 110px;
  margin-bottom: 10px;
  position: relative;
  width: 100%;
}

/*changes to Quick search button. moved icon to the right to accomodate asw styling*-------9-29-11------------------------------------------------------------------------------------------------------------------------------*/ 
#specialactions a img {
  float: right;
  margin-left: 0px;
	margin-right: 0px;
}
/*changes to fields ID to add a background behind main content to accomodate asw styling*-------10-3-11------------------------------------------------------------------------------------------------------------------------------ */	 
.ruleset_leftNav #fields.styleWithOutPanels {
	width: 731px;
	margin-left: 0px;
	padding-left: 8px;
}

.ruleset_leftNav #main {
	float: left;
	width: 739px;
	background: #ffffff;
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
		 
}
.dct_popup #main {
	width: 100%;
}

.dct_documentation #main {
	background-image:  none;
}

.dct_errorDetails #main {
	width:  550px;
}

.ruleset_topNav #main {
	float: left;
	width: 946px;
	background: #ffffff;
	margin-left: 8px;
	background:  #ffffff url("../images/main-bg-bottom-946-asw.png") repeat-x right bottom;
}

.ruleset_topNav #topmain { 
   	float: left; 
   	width: 710px; 
   	background: #ffffff; 
   	margin-left: 8px; 
   	background:  #ffffff url("../images/main-bg-bottom-946-asw.png") repeat-x right bottom; 
   } 
   .ruleset_topNav #outerLeftPanelArea 
   { 
   	float: left; 
   } 

.dct_createPayment #main, .dct_searchForPayment #main, .dct_unidentifiedPayments #main, .dct_statementImport #main, .dct_searchPaymentDetails #main, .dct_unidentifiedPaymentsDetail #main, .dct_searchForPaymentResults #main, .dct_admin #main, .dct_errors #main{
	float: left;
	width: 946px;
	background: #ffffff;
	margin-left: 8px;
	background:  #ffffff url("../images/main-bg-bottom-946-asw.png") repeat-x right bottom;
}

.dct_dashboardHome #main, .dct_billingDashBoard #main, .dct_partyDashBoard #main{
	width: 100%;
}

/*Added bluberry bg image behind page title to accomodate asw styling*-------10-3-11------------------------------------------------------------------------------------------------------------------------------ */

.ruleset_leftNav #pageTitle {
	color: #ffffff;
	width: auto;
	height: auto;
	margin-top:0px;
	margin-left: 0px;
	height:25px;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:15px;
	padding-right:5px;
	font-weight:bold;
	color:white;
  font-size: 13px;
  font-weight: bold;
  background: #ececec url("../images/page-title-bg-asw.png")  no-repeat left 0px; float:left; height:27px;  width:739px ; 
}
.ruleset_topNav #pageTitle {
	color: #ffffff;
	width: auto;
	height: auto;
	margin-top:0px;
	margin-left: 0px;
	height:25px;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:15px;
	padding-right:5px;
	font-weight:bold;
	color:white;
  font-size: 13px;
  font-weight: bold;
  background: #ececec url("../images/page-title-bg-946-asw.png")  no-repeat left 0px; float:left; height:27px;  width:100%; 
}

.dct_dashboardHome #pageTitle, .dct_billingDashBoard #pageTitle, .dct_partyDashBoard #pageTitle{
  background: #ececec url("../images/page-title-bg-954-asw.png")  no-repeat left 0px; float:left; height:27px; width:100%;
  margin-left: 2px;
}
.dct_createPayment #pageTitle, .dct_searchForPayment #pageTitle, .dct_unidentifiedPayments #pageTitle, .dct_statementImport #pageTitle, .dct_searchPaymentDetails #pageTitle, .dct_unidentifiedPaymentsDetail #pageTitle, .dct_searchForPaymentResults #pageTitle, .dct_admin #pageTitle, .dct_errors #pageTitle{
  background: #ececec url("../images/page-title-bg-946-asw.png")  no-repeat left 0px; float:left; height:27px; width:100%;
  margin-left: 2px;
}
/* Removed  "page"icons from left nav to comply with asw style 10/03/11---------------------------------------------------*/

#pageNav > ul > li > a {
	background: url("") no-repeat scroll right center transparent;
}
/* added left margin for these ID's to give them breathing room on the left side 10/03/11---------------------------------------------------*/

#searchFilterSection {
	margin-bottom: 10px;
  margin-left: 8px;
  overflow: hidden;
  width: 100%;
}
#pageInst {
  line-height: 1.6em;
  margin-left: 8px;
}
.dct_popup #pageTop{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	min-width:300px;
	background-color:#ececec;
	height:25px;
	background:  url("../images/popupTitleBG-asw.png") repeat-x right bottom;
	width:auto;
}
.dct_popup #pageTop>#pageTitle{ /* The page title */
	width: auto;
	height: auto;
	margin-top:0px;
	height:25px;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:15px;
	padding-right:5px;
	font-weight:bold;
	color:white;
}

.dct_PBBIGeocodeMatch #pageTop,
.dct_partyHistoryData #pageTop,
.dct_partyMappingActions #pageTop,
.dct_PBBIGeocode #pageTop, 
.dct_partyDataImportWizard #pageTop
{
	margin-top:0px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:0px;
	min-width:300px;
	background-color:#ececec;
	height:25px;
	background:  url("../images/popupTitleBG-asw.png") repeat-x right bottom;
	width:auto;
}
.dct_PBBIGeocodeMatch #pageTop>#pageTitle,
.dct_partyHistoryData #pageTop>#pageTitle,
.dct_partyMappingActions #pageTop>#pageTitle, 
.dct_PBBIGeocode #pageTop>#pageTitle, 
.dct_partyDataImportWizard #pageTop>#pageTitle{ /* The page title */
	width: auto;
	height: auto;
	margin-top:0px;
	height:25px;
	padding-bottom:5px;
	padding-top:3px;
	padding-left:15px;
	padding-right:5px;
	font-weight:bold;
	color:white;
}
.dct_PBBIGeocodeMatch #main,
.dct_partyHistoryData #main,
.dct_partyMappingActions #main, 
.dct_PBBIGeocode #main, 
.dct_partyDataImportWizard #main {
	width: 100%;
}

.dct_PBBIGeocodeMatch #wrapper,
.dct_partyHistoryData #wrapper,
.dct_partyMappingActions #wrapper, 
.dct_PBBIGeocode #wrapper, 
.dct_partyDataImportWizard #wrapper {
width: 100%;
margin: 0px 0px 0px 0px;
}

#supportIcons{ /* Supporting icon navigation */
	top: -10px;
}
.ruleset_topNav #fields.styleWithPanels { width:710px; }

#searchIsLabel{
	display: none;
}
#searchUsingLabel{
	display: none;
}
#footer_one{
	border-width: 0;
}
/* changed height of dividers in main nav to layout correctly behind header graphic---------------10/5/11---------------------------------------*/
#actiongroup li {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size:11px;
	white-space: nowrap;
	background: url("../images/nav-divider-asw.png") no-repeat right bottom transparent;
	height: 41px;
}
/* changes cancel button text to white to layover Blueberry button */
.g-cancel .g-btn-text{ color: #ffffff;}
.g-cancel .g-btn-l{ background-position: 0px -216px; }
.g-cancel .g-btn-m{ background-position: 0px -240px; }
.g-cancel .g-btn-r{ background-position: 0px -264px; }

/* changed height of dividers in main nav to layout correctly behind header graphic---------------10/7/11---------------------------------------*/
#actiongroup li {
	float: left;
	padding: 0px 0px 0px 15px;
	font-size:11px;
	white-space: nowrap;
	background: url("../images/nav-divider-asw.png") no-repeat right bottom transparent;
	height: 41px;
}

#pageNav > ul > li > a {
padding-right: 10px;
padding-left: 10px;
    
	background: url("../images/nav-divider-asw.png") no-repeat right bottom transparent;
	height: 15px;
}
/* added background attribute and set it to "" as to not include the dividers that were added above. this code can be updated in line 606 above. */
.ruleset_leftNav #pageNav > ul > li > a, #subactiongroup > ul > li > a {
    padding-bottom: 1px;
    padding-top: 1px;
	background: url("") no-repeat right bottom transparent;
}
/* Color change to sectionDivider headers to match  Blueberry theme. Can we change this code? Or is is coming from the tool? */
.x_SectionDivider {
  background-color: #2861E4;
  color: white;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  padding-bottom: 3px;
  padding-top: 7px;
  text-indent: 5px;
}

#reportList #moduleDisplayTable td {
	padding-bottom: 0;
  padding-top: 0;
	height: 24px;
}
/*Increased font size and left margin for task, Billing, Create Policy, and Policy Details-------------------------------------------------*/
.noItems {
	padding-left: 5px;
	font-size:11px;
}

/*--------------------------------------------------------start padding errors here-------------------------------------------------------------------------------   */
.g-hyperlink .g-btn-text {
  color: #4065AF;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  padding-left: 5px;
  text-decoration: underline;
}
/* removed 1px blue line below titles and added left padding. Not an ASW style and also would overhang on the right side after applying lef-side padding*/
h2 {
  border-bottom: 0px solid #ffffff;
  font-size: 1.1em;
  font-weight: bold;
  padding-bottom: 2px;
  padding-left: 2px;
}

h1 {
	padding-left: 2px;
}


/* style.css (line 357) */
.formTbl .detailsLabel {
	font-weight: bold;
	padding-left: 5px;
}

p {
	margin: 10px 0;
	padding-left: 5px;
}

#paymentSearchTbl td {
	padding-bottom: 10px;
	padding-left: 5px;
}

#tblErrorFilters {
	padding-left: 5px;
}


/*Client info page padding-left*/
.formTbl td {
  padding-bottom: 10px;
  padding-left: 3px;
}

#requiredTxt  {
	padding-left: 5px;
}

.controlContainer .x-form-check-wrap {
  float: left;
  padding: 0 3px 1px 5px;
	padding-left: 3px;
}
/*new notification page padding-left*/
#messageTextLabel, #messageSubjectLabel, #messageTypeLabel{
	padding-left: 3px;
}
#returnToPolicyA {
	padding-left: 3px;
}


/*--------------------------------------------------------end padding errors here-------------------------------------------------------------------------------   */



#billingOutstandingInvoice, #billingRecentPayment, #billingUpcoming{
	width: 235px;
}
.formTable{
	width: 100%;
}
.dct_popup .formTable{
	width: auto;
}
/*changes 10-11-11------------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*updates to font sizes for buttons to make same size as ASW style buttons-------------------------------------------------------------------------------------------------------------------------------------------*/

.g-btn-text{ display:block; float:left; padding:5px 0px 3px 0px; height:22px; font:Verdana,Arial,Helvetica,sans-serif; font-size:9px; font-weight:bold; color: #ffffff;}

/*changed font size and color of h1,h2 to be asw style*/


/*updates to font sizes for buttons to make same size as ASW style buttons-------------------------------------------------------------------------------------------------------------------------------------------*/
#productNavigationDiv a {
  color: #FFFFFF;
  font-weight: bold;
  height: 22px;
  margin: 0 1px 0 0;
  padding: 2px 0 0 4px;
	font-size: 9px;
  text-decoration: none;
  width: 71px;
}
/*updates to font sizes for buttons to make same size as ASW style buttons-------------------------------------------------------------------------------------------------------------------------------------------*/
#specialactions a {
  color: #FFFFFF;
  font-size: 9px;
  font-weight: bold;
  text-decoration: none;
}

/*added rounded corners to task widget using CSS3. degrades nicely in non-supported browsers by not displaying rounded corners. defaults to square corners.-------------------------------------------------------------------------------------------------------------------------------------------*/
.ruleset_leftNav #pageNav, #subactiongroup {
  background: #ffffff;
  float: left;
  width: 100%;
	height:auto;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-moz-box-shadow: 0px +2px 1px #ababab;
	-o-box-shadow: 0px +2px 1px #ababab;
	-webkit-box-shadow: 0px +2px 1px #ababab;
	box-shadow: 0px +2px 1px #ababab;
	
}

	
/*changed height to include bottom shadow of image*/
.ruleset_leftNav #relatedActions {
  background: url("../images/modulePolicyTasksBk.png") no-repeat scroll left top transparent;
  margin: 20px 0 0;
  width: 200px;
	
}	
.acrossLayout {
  min-height: 24px;
  overflow: hidden;
  padding: 0 0;
}

/* added rule set for innerfooter bottom image when using leftNav and topNav*/
.ruleset_leftNav #innerfooter {
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
}
.ruleset_topNav #innerfooter {
	background:  #ffffff url("../images/main-bg-bottom-946-asw.png") repeat-x right bottom;
}
/* added some bottom padding for the button in the main content area */
#returnToPolicyA {
  padding-bottom: 8px;
  padding-left: 5px;
}
#resetPrintJobDetaulsA {
  padding-bottom: 8px;
  padding-left: 5px;
}

/* changed section header color to blueberry*/
.x_SectionDivider {
  background-color: #2860DB;
 
}


/* changed left padding on pricing page for "previous" button to give breathing room in panel*/
.g-pageAction #previous {
  float: left;
  padding-left: 3px;
}
/*changes 10-12-11------------------------------------------------------------------------------------------------------------------------------------------------------------*/

.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
  font: 9px Verdana,Arial,Helvetica,sans-serif;
}
/* changed text color for "remove Driver" and "Delete incident" buttons*/
.g-gray .g-btn-text{ color: #ffffff;}

/* changed 10-12-11 to accomodate for changes to dashboard bg colors under instruction text*/
#pageTop {
	background: #ececec;
}

/* changed 10-12-11 to accomodate for changes to dashboard bg colors under instruction text*/
#pageInstruction {
  margin-left: 10px;
	margin-top: 3px;
}
/* changed 10-12-11 to accomodate for changes to dashboard bg colors under instruction text*/
.dct_dashboardHome #main, .dct_billingDashBoard #main, .dct_partyDashBoard #main{
	width: 100%;
	background: #ececec;
}

/* changed 10-12-11 to height of image to accomodate for bg color under instruction text*/
.dct_dashboardHome #pageTitle, .dct_billingDashBoard #pageTitle, .dct_partyDashBoard #pageTitle{
  background: #ececec url("../images/page-title-bg-946-asw.png")  no-repeat left 0px; float:left; height:23px; width:100%;
  margin-left: 8px;
}

/* changed 10-12-11 footer to be asw compliant with copyright now on the left and change password on te right*/
#footer {
    background: url("") no-repeat scroll left center white;
    border-top: 10px solid #BDBEBD;
    color: #FFFFFF;
    min-height: 50px;
    overflow: hidden;
    width: 100%;
}

.ruleset_styleWithOutPanels {
	width: 731px;
	margin-left: 0px;
	padding-left: 5px;
	background: #ffffff;
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
	
}
/* changed 10-12-11 "your Policy" totals widget width so it sits on top right of page in proper position original css located x-interview css*/
#innerrightpanel {
  width: 212px;
}

/* changed 10-12-11 width if sections dividers. code originally coming from  x-interview.*/
.x_SectionDivider {
	width: 98%;
}
/* Payment Schedule Popup */
.dct_popup .PaymentSchedule #main #pageTop{
    background: url("../images/popupTop_blue.png") no-repeat left 0px;
}
.dct_popup .PaymentSchedule #main #pageTop #pageTitle{
    display:none;
}
/* ------------------------------------------------------------changes 10-17-11------------------------------------------*/

/* added some left padding on billing dashboard report list to match activities padding above it.
*/

#reportList #moduleDisplayTable td {
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 0;
}
/* updated search for Billing section to include a left margin for search for Party info.*/
.Search #main{
	float: left;
	width: 739px;
	background: #ffffff;
	margin-left: 8px;
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
	width: 739px;
}

/* Confirm Address Popup */
.dct_popup .ConfirmAddress #main #pageTop{
  background: url("../images/page-title-bg-asw.png") repeat-x scroll left 0 transparent;
  height: 45px;
}
/* Policy Coverages Popup */
.dct_popup .PolicyCoverages #main #pageTop{
  background: url("../images/page-title-bg-asw.png") repeat-x scroll left 0 transparent;
  height: 45px;
}
* Vehicle Coverages Popup */
.dct_popup .VehicleCoverages #main #pageTop{
  background: url("../images/page-title-bg-asw.png") repeat-x scroll left 0 transparent;
  height: 45px;
}
.AccountPlanSetup{
	margin-left: 0px;
	padding-left: 8px;
}
/* 10-18-11  added bg color to clean up look of disabled buttons in IE*/
.btnDisabled {
	background-color: #ffffff;
}
/* 10-20-11  CHANGES TO BILLING (AND SOME POLICY) BEGIN HERE!---------------------------------------------------------------------------------------------------------------------------*/

/* 10-20-11 removed calendar icon*------------------------------------------------------------------*/
#currentSystemDate {
  background: none;
	padding: 5px 0 4px 10px;
}

/* 10-20-11 recolored all page level content headers to asw blue. Removed page level icons.------------------------------------------------------------------*/
#billingOutstandingInvoice .acctSummaryInvoiceTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}
#billingRecentPayment .acctSummaryInvoiceTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}

#billingUpcoming .acctSummaryInvoiceTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}

#policyHeaderDetail .displayTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}

#billingOutstandingInvoice .acctSummaryInvoiceTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}
nextInstallment .displayTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}

#futurePolicyTermRenewal .displayTableTitle td {
  background: url("") no-repeat scroll 3px center #2860DB;
}

#policyTermExtendedData .displayTableTitle td {
  background: none repeat scroll 0 0 #2860DB;
  text-indent: 0;
}
/* 10-20-11 increased font size to ASW styling*------------------------------------------------------------------*/
.acctSummaryInvoiceTableTitle td {
  color: #FFFFFF;
  font-size: 13px;
  font-weight: bold;
  text-indent: 15px;
}

#activityList #moduleDisplayTable  td{
	background: url("../images/list_bg.gif") repeat-x   scroll left  transparent;
  padding-bottom: 0;
  padding-top: 0;
}


#activityList #moduleDisplayTable  td:hover {
	background: url("../images/list_bg_hover.gif") repeat-x   scroll left  transparent;
  padding-bottom: 0;
  padding-top: 0;
}

#reportList #moduleDisplayTable td {
	background: url("../images/list_bg.gif") repeat-x   scroll left  transparent;
  height: 24px;
  padding-bottom: 0;
  padding-top: 0;
}

#reportList #moduleDisplayTable td:hover {
	background: url("../images/list_bg_hover.gif") repeat-x   scroll left  transparent;
  height: 24px;
  padding-bottom: 0;
  padding-top: 0;
}

#chartList #moduleDisplayTable td {
	background: url("../images/list_bg.gif") repeat-x   scroll left  transparent;
  padding-bottom: 0;
  padding-top: 0;
}

#chartList #moduleDisplayTable td:hover {
	background: url("../images/list_bg_hover.gif") repeat-x   scroll left  transparent;
  padding-bottom: 0;
  padding-top: 0;
}

/* 10-20-11 new green bg for panel headers for billing*------------------------------------------------------------------*/
.dct_bil .x-panel-header {
  background-image: url("../images/Extjs/panel/asw-top-bottom.gif");
  border-color: #D0D0D0;
  color: #ffffff;
  font-family: Verdana,Arial,Helvetica,sans-serif;
  font-size: 11px;
  font-weight: bold;
}

/* 10-20-11 added button treatment for "add notes"  *------------------------------------------------------------------*/

#addNotes {
	background: url("../images/add-a-note-btn-asw.png") no-repeat  scroll left  transparent;
	position: relative;
	top: -25px;
	padding-top: 5px;
}

#addNotes .g-btn-text {
  color: #FFFFFF;
  font-size: 9px;
  font-weight: bold;
  height: 22px;
  margin: 0 8px 0 0;
  padding: 2px 0 0 8px;
  text-decoration: none;
  width: 71px;
}
.x-panel-inline-icon{
	display:none;
}

/* 10-20-11 ruleset to not use green bg for charts*------------------------------------------------------------------*/
.dct_outstandingBalanceChart .x-panel-header, .dct_agencyBalanceChart .x-panel-header,.dct_agencyBalanceLineChart .x-panel-header, .dct_agencyBalanceBarChart .x-panel-header, .dct_agencyBalanceStackedBarChart .x-panel-header, .dct_agencyBalanceStackedColumnChart .x-panel-header{
	background: none repeat scroll 0 0 #2860DB;
}
/* Left Nav Icons */
#id_AccountHome{background: url("") no-repeat right center !important;}
#id_InstallmentSchedule{background: url("") no-repeat right center !important;}
#id_AccountSettings{background: url("") no-repeat right center !important;}
#id_PolicySettings{background: url("") no-repeat right center !important;}
#id_MakeAPayment{background: url("") no-repeat right center !important;}
#id_ItemsInSuspense{background: url("") no-repeat right center !important;}
#id_NewPaymentBatch{background: url("") no-repeat right center !important;}
#id_SinglePayment{background: url("") no-repeat right center !important;}
#id_UnidentifiedPayments{background: url("") no-repeat right center !important;}
#id_SearchForPayment{background: url("") no-repeat right center !important;}
#id_ManageHoldEvents{background: url("") no-repeat right center !important;}
#id_ErrorQueue{background: url("") no-repeat right center !important;}
#id_SetSystemDate{background: url("") no-repeat right center !important;}
#id_HoldBillingForAccount{background: url("") no-repeat right center !important;}
#id_TaskMngmtSub1{background: url("") no-repeat right center !important;}
#id_TaskMngmtSub2{background: url("") no-repeat right center !important;}
#id_BatchPolicy{background: url("") no-repeat right center !important;}
#id_BatchMessage{background: url("") no-repeat right center !important;}
#id_NewNotification{background: url("") no-repeat right center !important;}
#id_ProcessedBatches{background: url("") no-repeat right center !important;}
#id_AgencyStatement{background: url("") no-repeat right center !important;}
#id_OpenItems{background: url("") no-repeat right center !important;}
#id_AccountHistory{background: url("") no-repeat right center !important;}
#id_ImportStatements{background: url("") no-repeat right center !important;}
#id_CreateDisbursementInterfaceRequest{background: url("") no-repeat right center !important;}
#id_ClosedMatches{background: url("") no-repeat right center !important;}
#id_EftMaintenance{background: url("") no-repeat right center !important;}
#id_CommissionWorkflow{background: url("") no-repeat right center !important;}
#id_CommissionStatementMaintenance{background: url("") no-repeat right center !important;}
#id_AccountTasks{background: url("") no-repeat right center !important;}
/* changed 10-12-11 to accomodate for changes to dashboard bg colors under instruction text*/
.dct_outstandingBalanceChart #main, .dct_agencyBalanceChart #main,.dct_agencyBalanceLineChart #main, .dct_agencyBalanceBarChart #main, .dct_agencyBalanceStackedBarChart #main, .dct_agencyBalanceStackedColumnChart #main{
	width: 100%;
	background: #ececec;
}
.dct_outstandingBalanceChart #pageTitle, .dct_agencyBalanceChart #pageTitle,.dct_agencyBalanceLineChart #pageTitle, .dct_agencyBalanceBarChart #pageTitle, .dct_agencyBalanceStackedBarChart #pageTitle, .dct_agencyBalanceStackedColumnChart #pageTitle{
  background: #ececec url("../images/page-title-bg-954-asw.png")  no-repeat left 0px; float:left; height:27px; width:100%;
  margin-left: 2px;
}
#balanceChartId {
	float:left;
	margin-left: 0px;
	padding-left: 8px;
}
#displayChartGroup {
	float:left;
	margin-left: 0px;
	padding-left: 8px;
}
/* 01-3-12 Added bottom rounded corner style for ASW content bottom Phase 2------------------------------------------------------------- */
.contentAreaBottom {
  background: none repeat scroll 0 0 #ECECEC;
  float: left;
  height: 11px;
  left: 0;
  margin: 0 auto;
  padding: 0;
  position: relative;
  top: 0;
  width: 100%;
}
.cornerBottomLeftWhite {
  background: url("../images/cornerBottomLeft.png") no-repeat scroll 0 0px transparent;
  float: left;
  height: 11px;
  width: 10px;
}
.cornerBottomRightWhite {
  background: url("../images/cornerBottomRight.png") no-repeat scroll 0 0px transparent;
  float: right;
  height: 11px;
  width: 10px;
}
/* 01-6-12 Added style for Footer Phase 2---------------------------------------------------------------------------------------------------- */

.pageFooter {
  background: none repeat scroll 0 0 #FFFFFF;
  color: #B2B19F;
  float: left;
  margin-top: 0;
  text-align: left;
  width: 100%;
}
.pageFooter div {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-top: 0px;
}
.pageFooter .clear_bottomLeft{
  padding: 0;
	margin-top: -5px;
	padding-top: -10px;
	color: FFDDCC;
	clear: right;
}
#footer_one {
	padding-top: 0px;
	min-height: 0px;
	margin-bottom: 10px;
}
#footer_one a:link, #footer_one a:visited, #footer_one a:active {
  color: #4065af;
	font:Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px;
}
/* changed rollover change password color in footer  */
#footer_one ul li:hover a span {
  color: #4065af;
  text-decoration: underline;
}
#footer_one ul li a span{
	color:#4065af;
}

.dct_login .contentAreaBottom {
	display:none
}
.dct_login .cornerBottomLeftWhite {
	display:none
}
.dct_login .cornerBottomRightWhite {
	display:none
}

.g-search .g-btn-text{ color: #ffffff; padding-top:4px;}
.g-search .g-btn-img-left{ padding-top:3px; }
.g-search .g-btn-img-right{ padding-top:3px; }
.g-search .g-btn-l{ background-position: 0px -576px; }
.g-search .g-btn-m{ background-position: 0px -600px; }
.g-search .g-btn-r{ background-position: 0px -624px; }

.tskbr-g-m-item.dctpolicyattachmentstaskbargroupmenuitem .tskbr-g-m-i-primary span {
	color: #4065af;
}

/* 11-1-11 Added padding for display only fields. Line 378 theme file------------------------------------------------------------ */
.x-form-display-field{
	padding-top: 1px;
	margin-left: 3px;
	padding: 1px 3px;
}
.ext-gecko .x-form-display-field, .ext-strict .ext-ie7 .x-form-display-field {
	margin-left: 0px;
	padding: 1px 0px;
}
.ext-gecko .x-form-display-field {
	margin-left: 5px;
	padding: 1px 0px;
}
.ext-gecko #innerheader .x-form-display-field, .ext-strict .ext-ie7 #innerheader .x-form-display-field {
	margin-left: 8px;
}
.ext-ie7 #specialactions a img {
  display: none;
}

/* icon classes for ExtJS Windows and Panels */
.i_clipboard{ background: url(../images/icons/clipboard.png) no-repeat left 6px !important; }
.i_clock { background: url(../images/icons/clock.png) no-repeat left 6px !important; }
.i_bell { background: url(../images/icons/bell.png) no-repeat left 6px !important; }
.i_world { background: url(../images/icons/world.png) no-repeat left 6px !important; }
.i_chart_pie { background: url(../images/icons/chart_pie.png) no-repeat left 6px !important; }
.i_chart_pie_link { background: url(../images/icons/chart_pie_link.png) no-repeat left 6px !important; }
.i_user { background: url(../images/icons/user.png) no-repeat left 6px !important; }
.i_user_search { background: url(../images/icons/user_search.png) no-repeat left 6px !important; }
.i_page_white_star { background: url(../images/icons/page_white_star.png) no-repeat left 6px !important; }
.i_application_view_tile { background: url(../images/icons/application_view_tile.png) no-repeat left 6px !important; }
.i_application_view_list { background: url(../images/icons/application_view_list.png) no-repeat left 6px !important; }
.i_vcard { background: url(../images/icons/vcard.png) no-repeat left 6px !important; }


.i2_user { background: url(../images/icons/user.png) no-repeat left 0px !important; }
.i2_user_suit { background: url(../images/icons/user_suit.png) no-repeat left 0px !important; }
.i2_user_gray { background: url(../images/icons/user_gray.png) no-repeat left 0px !important; }
.i2_page_green { background: url(../images/icons/page_green.png) no-repeat left 0px !important; }


/*Fix for border in policy coverage (commercial lines) going past the body area*/
.x_BorderLightGray, .x_SectionDivider{
	width: 97.3%;
}


.notificationDiv{
	background: url(../images/msgBoxConfirm.png) no-repeat left top;
}

.InformationDiv {
background: url(../images/msgBoxConfirm.png) no-repeat left bottom;
}

#addNotes .g-btn-l, 
#addNotes .g-btn-r {
	display: none;
}
#addNotes .g-btn-m {
	background: transparent none;
}
.dct_bil.dct_accountSummary .notificationDiv {
	margin-bottom: 2px;
	margin-left: 7px;
}