.displayTableTitle td, .acctSummaryInvoiceTableTitle td, .agencyStatementSectionsTableTitle td{
	padding: 5px;
	font-weight: bold;
	color: #ffffff;
}
.displayTableHdr td, .acctSummaryInvoiceTableHdr td, .agencyStatementSectionsTableHdr td{
	background: #e3e1e1;
	padding: 5px;
	font-weight: bold;
	font-size: .8em;
}
.displayTableRow td, .acctSummaryInvoiceTableRow td, .agencyStatementSectionsTableRow td{
	background: #f4f4f4;
	padding: 0px 0px 0px 5px;
	height: 18px;
	font-size: .8em;
	vertical-align: middle;
}
#reportList #moduleDisplayTable td {
	padding-bottom: 0;
	padding-left: 5px;
	padding-top: 0;
}
.dct_bil .Search #main{
	float: left;
	width: 739px;
	background: #ffffff;
	margin-left: 8px;
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
	width: 739px;
}
.AccountPlanSetup{
	margin-left: 0px;
	padding-left: 8px;
}
/* Billing Dashboard */
#searchModeGroup{
	padding-right: 0px;
	margin-right: 15px;
}
#searchBilling {
	height: 33px;
}
#searchForAccountButton img{
	display: none;
}
#searchForAccountButton{
	padding-left: 10px;
	clear: right;
}
#searchForAccountButton a{
	margin-left: 5px;
}
#accountPolicyNameGroup #searchForAccountButton{
	padding-left: 0px;
	clear: both;
}
#billingOutstandingInvoice .acctSummaryInvoiceTableTitle td,
#billingRecentPayment .acctSummaryInvoiceTableTitle td,
#billingUpcoming .acctSummaryInvoiceTableTitle td,
#policyHeaderDetail .displayTableTitle td,
#nextInstallment .displayTableTitle td,
#futurePolicyTermRenewal .displayTableTitle td,
#billingRecentStatement .agencyStatementSectionsTableTitle td,
#billingCurrentStatement .agencyStatementSectionsTableTitle td {
	background: #006699;
}
#policyTermExtendedData .displayTableTitle td {
	background: #006699;
	text-indent: 0;
}
.acctSummaryInvoiceTableTitle td {
	color: #FFFFFF;
	font-weight: bold;
}
#activityList #moduleDisplayTable td, #reportList #moduleDisplayTable td, #chartList #moduleDisplayTable td {
	background: url("../images/list_bg.gif") repeat-x   scroll left  transparent;
	padding-bottom: 0;
	padding-top: 0;
}
#activityList #moduleDisplayTable  td:hover, #reportList #moduleDisplayTable td:hover, #chartList #moduleDisplayTable td:hover {
	background: url("../images/list_bg_hover.gif") repeat-x   scroll left  transparent;
	padding-bottom: 0;
	padding-top: 0;
}
#reportList #moduleDisplayTable td {
	height: 24px;
}
#reportList #moduleDisplayTable td:hover {
	height: 24px;
}
.dct_bil .x-panel-header {
	background-image: none;
	border-color: #D0D0D0;
	color: #ffffff;
	font-family: 'Trebuchet MS', verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	font-style: normal;
	font-variant: normal;
}
.dct_bil #accountInformationArea .x-panel-header, .dct_bil #policyInformationGroup .x-panel-header{
	border-color: #007000;
}
#addNotes {
	position: relative;
	top: -25px;
	padding-top: 5px;
}
.dct_outstandingBalanceChart .x-panel-header, 
.dct_agencyBalanceChart .x-panel-header,
.dct_agencyBalanceLineChart .x-panel-header, 
.dct_agencyBalanceBarChart .x-panel-header, 
.dct_agencyBalanceStackedBarChart .x-panel-header, 
.dct_agencyBalanceStackedColumnChart .x-panel-header{
	background: none repeat scroll 0 0 #2860DB;
}
.dct_outstandingBalanceChart #main, 
.dct_agencyBalanceChart #main,
.dct_agencyBalanceLineChart #main, 
.dct_agencyBalanceBarChart #main, 
.dct_agencyBalanceStackedBarChart #main, 
.dct_agencyBalanceStackedColumnChart #main{
	width: 100%;
	background: #ececec;
}
.dct_outstandingBalanceChart #pageTitle, 
.dct_agencyBalanceChart #pageTitle,
.dct_agencyBalanceLineChart #pageTitle, 
.dct_agencyBalanceBarChart #pageTitle, 
.dct_agencyBalanceStackedBarChart #pageTitle, 
.dct_agencyBalanceStackedColumnChart #pageTitle{
	background: #006699; 
	float: left; 
	height: 27px; 
	width: 100%;
	margin-left: 2px;
}
#balanceChartId, #displayChartGroup {
	float: left;
	margin-left: 0px;
	padding-left: 8px;
}

.dct_createPayment #main, 
.dct_searchForPayment #main, 
.dct_unidentifiedPayments #main, 
.dct_statementImport #main, 
.dct_searchPaymentDetails #main, 
.dct_unidentifiedPaymentsDetail #main, 
.dct_searchForPaymentResults #main, 
.dct_admin #main, 
.dct_errors #main,
.dct_report #main{
	float: left;
	width: 952px;
	margin-left: 8px;
}
.dct_createPayment #pageTitle, 
.dct_searchForPayment #pageTitle, 
.dct_unidentifiedPayments #pageTitle, 
.dct_statementImport #pageTitle, 
.dct_searchPaymentDetails #pageTitle, 
.dct_unidentifiedPaymentsDetail #pageTitle, 
.dct_searchForPaymentResults #pageTitle, 
.dct_admin #pageTitle, 
.dct_errors #pageTitle,
.dct_report #pageTitle{
	margin-left: 2px;
}
#activeAccountNameId {
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
	margin: 6px 3px 0 30px;
}
#activeAccountReferenceId {
	color: #FFFFFF;
	font-size: 9px;
	margin: 2px 3px 2px 30px;
}
#activeAccountStatusId{
	font-size: 0.8em;
	font-style: italic;
}
#currentSystemDate{	
	font-style: italic;
}
#agencyChangeReceivableContact, #agencyReceivableContactId, #agencyReceivableContactMainPhone, #agencyReceivableContactFaxPhone, #agencyReceivableContactEmailAgency{
	font-size: 1em;
	color: #525552;
}
#accountInformationArea, #policyInformationArea{
	color: #000;
	background-color: #F2F8F2;
	padding-top: 15px;	
}
#accountInformationArea .x-panel-header, #policyInformationArea .x-panel-header{
color: #007000;
border-bottom-color: #007000;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmM5ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -webkit-linear-gradient(top,#FFF 0,#A6CDA6 100%);
background: -ms-linear-gradient(top,#FFF 0,#A6CDA6 100%);
background: linear-gradient(to bottom,#FFF 0,#A6CDA6 100%);
background-image: none;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#A6CDA6', GradientType=0);
}
#accountInformationArea .x-panel-header .x-tool, #policyInformationArea .x-panel-header .x-tool{
border-right: 1px solid #007000;
}
.scheduleHistoryEventTitle{
	font-weight: bold;
}
.scheduledItemsList, .openItemsList, .closedMatchesList  {
	font-size: 90%;
}
#displayTotalRemainingTextId{
	background: url(../images/icons/asterisk_yellow_small.png) no-repeat right top;
}
.instText{
	background: #f1f1f1 url("../images/icons/asterisk_yellow_small.png") no-repeat 10px center;
	font-style: italic;
	border: 1px dotted #d1cdcd;
	font-size: .9em;
}
#billingOutstandingInvoice, #billingRecentPayment, #billingUpcoming{
	width: 232px;
}
#paymentSearchTbl td {
	padding-bottom: 10px;
	padding-left: 5px;
}
.dct_createDisbursementInterfaceRequest #pageInst {
	color: #000;
}
.dct_refundToSourcePayment #disbursePayeeName {
	float: left;
	clear: left;
	padding-right: 10px;
	padding-top: 3px;
	margin-bottom: 7px;
}
.holdEventsList {
	float: left;
	clear: both;
	padding-top: 10px;
}
#xFerArrow{
	background: url("../images/transferArrow.gif") no-repeat center center;
}
.xFerFrom{
	background: url("../images/cardTransferFrom.gif") no-repeat left top;
}
.xFerTo{
	background: url("../images/cardTransferTo.gif") no-repeat left top;
}
#paymentReferenceGroup, #reasonForReversal {
	width: 100%;
}
.dct_bil .outerleftpanel {
	border-color: #dbdbdb;
	background-color: #fff;
	color: #000;
	width: 100%;
	height: 100%;
}

#billingRedistributionListId {
	float: none;
}

.dct_bil.dct_accountSummary .notificationDiv {
	margin-bottom: 9px;
	margin-left: 7px;
}