#dashboard .x-portal .x-panel {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	margin-bottom: 10px;
}

#dashboard .x-portal .x-panel-body { 
	margin: 0px auto; 
	width: 100%;
	padding: 0;
	overflow: visible;
}

#dashboard .x-portal .x-panel-body > .x-panel {
	background: #FFFFFF;
	position: relative;
	overflow: visible;
	width: 100%;
	padding-bottom: 10px;
	}

#dashboard .x-portal .x-panel-body td.itemIcon {
		width: 1px;
		border: #ffffff;
		border-bottom: 1px solid #E6E6EB;
	}
#dashboard .x-panel-tl .x-panel-icon {
	padding-left: 0px !important;
}
#dashboard .x-panel-tl .x-panel-header .x-tool, 
#dashboard .x-panel-tl .x-panel-header span {
	height: 27px;
	line-height: 27px;
}
#dashboard .x-panel-tl .x-panel-header {
	padding: 0px;
}
#newQuote #fields input{
	width: 150px !important;
	margin-left: 0px;
}
