p .documentationTitle{
	font-size: 18px;
}

.i-paramName{
	
	font-weight: bold;
}
.i-paramVal{
	
	color: #000000;
}
.iWinGroup{
	border-bottom: 1px dotted #DADADA;
}

.cutoffGroup{
	border-bottom: 1px dotted #DADADA;
}
.cutoff-paramName{
	font-weight: bold;
}
.cutoff-paramVal{

	color: #000000;
}
.OFlowIndicators{
	background: transparent url('../images/icons/exclamation.png') no-repeat left top;
}
.OFlowContent{
	background: transparent url('../images/cutoffOverlayYellorange.png') repeat left top;
}
.OFlowCutoff{
	background: transparent url('../images/cutoffOverlayRed.png') repeat left top;
}
#documentationWindow .x-tree-node-leaf .x-tree-node-icon{
	background-image: url(../images/icons/bullet_green.png);
}
.ext-gecko #dctDeveloperToolbar{
	float: left;
	width: 100%;
	padding-left: 0px;
	padding-right: 0px;
}
#addTaskPanel .x-panel-btns .x-toolbar-cell{
	padding: 2px 3px 0px 3px;
}

#addTaskPanel .x-panel-footer {
	padding: 2px;
	overflow: visible;
}

#addTaskFly .x-form{
	padding-top: 2px !important;
	padding-bottom: 2px !important;
}