/* icon classes for ExtJS Windows and Panels */
.i_clipboard, 
.i_clock, 
.i_bell,
.i_world,
.i_chart_pie,
.i_chart_pie_link,
.i_user,
.i_user_search,
.i_page_white_star,
.i_application_view_tile,
.i_application_view_list,
.i_vcard,
.i2_user,
.i2_user_suit,
.i2_user_gray,
.i2_page_green {
	background: none;
}

/* ExtJs Class Extension Styles */
.x-grid3-hd-row td.ux-filtered-column {   
	font-style: italic;  
	font-weight: bold;
}
.x-column-tree .x-tree-selected {
	background: #d9e8fb;
}
.x-column-tree  .x-tree-node .x-tree-selected a span{
	background: transparent;
	color: #000;
}
.x-tree-col-text, .x-tree-hd-text {
	color: #000;
	font: normal 11px arial, tahoma, helvetica, sans-serif;
}
.x-tree-headers .x-tree-hd-text {
	color: #FFFFFF;
}
.sliderTick {
	font-size: 10px;
}

.x-form-display-field{
	padding-top: 1px;
	margin-left: 3px;
	padding: 1px 3px;
}
.x-panel-inline-icon{
	display: none;
}
.x_SectionDivider {
	width: 98%;
}
.x-toolbar td, .x-toolbar span, .x-toolbar input, .x-toolbar div, .x-toolbar select, .x-toolbar label {
	font: 9px ;
}
/* changed section header color to blueberry*/
.dct_interview h2.x_FontCaption {
	color: #006699;
}

.dct_interview h2, dct_interview h2.x_SectionDivider, .dct_interview h2.x_FontCaption, .dct_interview h2.x_HeaderPlainText, .x_SectionDivider {
	background: none;
	border-bottom: none;
	color: #006699;
	font-family: inherit;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 3px;
	padding-top: 7px;
	text-indent: 0px;
	filter: none;
}

/* combo box */
.x-combo-list {
	list-style: none outside;
	position: relative;
	margin: 0;
	padding: 0;
	background: #fff;
	border-color: #c6c7d2;
	border-top-color: #83868d;
	background-color: #f1f2f4;
	background-position: 0 -110px;
	border-bottom-color: #d5d5d5;
	font: 11px "Trebuchet MS",verdana,arial,helvetica,sans-serif;
	color: #333;
}
.x-combo-list-item {
	white-space: nowrap;
	padding: 2px 2px;
	margin: 0 1px;
	min-height: 13px;
}
.x-combo-list-item:hover div {
	background-color: #dfdfdf;
	color: #000;
}

/* grids */
.x-grid3-header {
	background-image: none;
	background-color: #006699;
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.x-grid3-row {
		border: 1px solid #ededed;
		border-top-color: #fff;
}
.dct_messages .x-grid3-row-over {
	border: 1px solid #006699;
	background: #fff; 
	background-image: none;
	padding-right: 19px;
} 


.x-grid3-body, .x-grid3-row {
	width: 100% !important;
}
.x-grid3-row-over {
	border: 1px solid #006699;
	background: #fff; 
	background-image: none;
	width: auto !important;
}

.x-grid3-row-selected {
	background: #FFFFFF !important;
	border: 2px solid #006699;
	padding-right: 23px;
	margin-left: -1px;
}

.ext-gecko .x-grid3-row-selected, .ext-gecko .x-grid3-row-over {
	padding-right: 17.5px;
}

.ext-ie .x-grid3-row-selected, .ext-ie .x-grid3-row-over {
	padding-right: 21px;
}
/* Basic panels */
.x-panel-tl, .x-panel-tr, .x-panel-bl, .x-panel-br {
background-image: none;
border-bottom: 0px;
}

.x-panel-tl, .x-panel-tr, .x-panel-tc {
background-image: none;
background-color: #006699;
}

.x-panel-tl .x-panel-header {
color: #FFFFFF;
font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
border: none;
}
.x-panel-mc { 
	background: transparent;
	width: 98%;
	margin-left: 1%;
	font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
}
.x-panel-mc .x-panel-body {
border-top-color: rgb(234, 234, 234);
}
.x-panel-ml, .x-panel-mr, .x-panel-bc {
	background-image: none;
	padding: 0px;
}
.x-panel-body-noheader, .x-panel-body-noborder {
	background-color: transparent;
}
/* Checkbox control */
.x-form-cb-label {
	padding-top: 0px;
	top: 0px;
}
.controlContainer .x-form-check-wrap {
	float: left;
	padding: 5px 3px 1px 3px;
}

.x-form-check-wrap, .x-form-radio-wrap {
	line-height: 16px;
}

.x-form-field-trigger-wrap .x-form-text {
	border-right: #FFFFFF;
}
/* form fields and text */
.x-form-field {
	font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
	font-size: 11px;
	line-height: normal;
	/*max-width: 100%;*/
}
.x-form-item, .x-form-field {
	font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
	font-size: 11px;
	color: #000;
	line-height: normal;
}

.x-form-text, textarea.x-form-field {
	background-image: none;
	background-color: #FFFFFF;
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	border-bottom: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
}
 
/* FF and IE need this here to avoid overrides from this file */
input.x-form-invalid, textarea.x-form-invalid, input[type='text'].x-form-invalid {
	background-color: #fff;
	border-color: #f20000;
}

#attachmentform .x-panel-btns {
	padding: 0px;
}