.displayTbl{
	border: 1px solid #525552;
}
.displayTbl input, .displayTbl select{
	font-size: 1em;
}
.displayTblTitle{
	background: #484843;
	font-size: .9em;
	font-weight: bolder;
	color: #ffffff;
}
.displayTblHdr td{
	background: #e3e1e1;
	font-weight: bold;
	font-size: .9em;
}
.displayTblRow td{
	background: #f4f4f4;
	height: 13px;
	font-size: .9em;
}
.displayTblFooter{
	color: #ffffff;
	background: #484843;
	font-size: .9em;
	border: 1px solid #484843;
	border-top: 0px;
}
.formTable{
	border: 0px;
	width: 100%;
}
.formTbl .detailsLabel {
	font-weight: bold;
	padding-left: 5px;
}
/*Client info page padding-left*/
.formTbl td {
  padding-bottom: 10px;
  padding-left: 3px;
}
/* Grids */
.pagingGrid {
	clear: left;
}
.tblHeader th {
	color: #FFFFFF;
	background-color: #006699;
	border: 1px solid #FFFFFF;
	padding: 3px 7px;
}
.editable{
	background: transparent url(../images/editable.gif) no-repeat 0 0;
}
.ClassDetail_body .formTable{
	width: auto;
}
/*Fix for border in policy coverage (commercial lines) going past the body area*/
.x_BorderLightGray, .x_SectionDivider {
	width: 98%;
}
