/* Template Customization for EALA Consumer Flow Pages (for Motor, DCTBase and Carrier LOb's.)*/
/* DCTBase Motor*/
body.lang_de-DE.Motor_lob.role_Consumer #banner{
   height: 10px;
}

body.lang_de-DE.Motor_lob.role_Consumer #productName{
    height: 0px;
}

body.lang_de-DE.Motor_lob.role_Consumer #leftPanelArea{
    height: 30px;
}
body.lang_de-DE.Motor_lob.role_Consumer #consumerQuoteType{
    visibility: hidden;
}

body.lang_de-DE.Motor_lob.role_Consumer #relatedActions{
    visibility: hidden;
}

body.lang_de-DE.Motor_lob.role_Consumer #consumerNewQuoteWidget{
    visibility: hidden;
}

body.lang_de-DE.Motor_lob.role_Consumer #productNavigationDiv{
   visibility: hidden;
}

body.lang_de-DE.Motor_lob.role_Consumer #actiongroup{
   visibility: hidden;
}


/* Carrier Motor*/
body.lang_de-DE.CarrierMotor_lob.role_Consumer #banner{
   height: 10px;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #productName{
    height: 0px;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #leftPanelArea{
    height: 30px;
}
body.lang_de-DE.CarrierMotor_lob.role_Consumer #consumerQuoteType{
    visibility: hidden;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #relatedActions{
    visibility: hidden;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #consumerNewQuoteWidget{
    visibility: hidden;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #productNavigationDiv{
   visibility: hidden;
}

body.lang_de-DE.CarrierMotor_lob.role_Consumer #actiongroup{
   visibility: hidden;
}