body {
/*	background-color: #4C4C4C; */
	font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
	font-size: 11px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: normal;
	padding: 0;
	margin-top: 0px;
	margin: 0 auto;
	width: 100%;
	height: 100%;
}
a {
	color: #000000;
	text-decoration: underline;
}
a:active{
	color: #8f2f52;
}
a:link, a:visited {
	color: #000000;
}
a:hover {
	color: #0000BB;
	text-decoration: underline;
}
input, textarea, select, button {
	font-family: "Trebuchet MS",verdana,arial,helvetica,sans-serif;
	font-size: 11px;
}
input.resizable {
	width: 100%;
}
input {
	background: #ffffff;
	border: 1px solid #d7d7d7;
}

/* New paprika style - prm */
input[type="text"]{
	background: #ffffff;
	border: 1px solid #d7d7d7;
}
input[disabled], 
input[disabled="disabled"], 
input.disabled,
.disabledControl {
	background: #f5f4ea;
	color: #aca899;
	font-style: italic;
	border: 1px solid #c9c7ba;
}
input[readonly], 
input[readonly="true"], 
input.readonly,
.readonly {
	background: #FFFFFF;
	color: #4A4A4A;
	border: 0px;
	border-bottom: 1px solid #d7d7d7;
}

/* do not remove borders from readonly drop-downs */
.x-form-field-wrap input[readonly],
.x-form-field-wrap input.readonly {
	border: 1px solid #d7d7d7;
}

.x-form-file-wrap .x-form-file-text{
	border: 1px solid #d7d7d7;
}
textarea {
	background: #ffffff;
	border: 1px solid #d7d7d7;
	padding: 2.5px 1px;
}

textarea[disabled], 
textarea[disabled="disabled"], 
textarea.disabled,
textarea .disabledControl {
	background: #f5f4ea;
	color: #aca899;
	border: 1px solid #c9c7ba;
	font-style: italic;
}

textarea[readonly], 
textarea[readonly="true"], 
textarea.readonly,
textarea .readonly {
	background: #f5f4ea;
	color: #aca899;
	border: 1px solid #c9c7ba;
	font-style: italic;
}

input[type=radio], input.radio { 
	background: transparent;
	border: none;
}

input[type=checkbox], input.checkbox {
	background: transparent;
	border: none;
}
select {
	background: #ffffff;
	border: 1px solid #d7d7d7;
	cursor: pointer;
}
select[disabled="disabled"], 
select.disabled, 
select.disabledControl {
	cursor: default;	
	background: #f5f4ea;
	color: #aca899;
	border: 1px solid #c9c7ba;
	font-style: italic;
}
select.readonly {
	color: #4A4A4A;
}
h1{
	color: #558ed5;
	font-size: 1.3em;
	font-weight: normal;
	padding-left: 2px;
}
h2{
	color: #006699;
	border-bottom: 1px solid #069;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhNmM5ZGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top, #FFFFFF 0%, #A6C9DB 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #FFFFFF 0%,#A6C9DB 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #FFFFFF 0%,#A6C9DB 100%); /* W3C */
	background-image: none\0/; /* IE8 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#A6C9DB',GradientType=0 ); /* IE6-8 */
	margin-left: 10px;
	font-size: 14px;
	font-weight: 700;
	margin: 10px 25px 10px 0px;
	min-height: 25px;
	padding-left: 5px;
	padding-top: 10px;
	overflow: hidden;
}
.errorsPage h2{
	padding-left: 0px;
}
.dct_interview h2.emptyCaption {
	display: none;
}
.dct_interview .x_PlainHeader h2{
	border-bottom: none;
	background: none;
	min-height: 0px;
	margin-top: -2px;
	filter: none;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 2px;
	padding-left: 2px;
	color: #006699;
}
table {
	border-collapse: collapse;
	border-spacing: 2px;
	border-color: red;
}

pre {
	font-family:Trebuchet MS, Trebuchet, serif;
}
p {
	margin: 10px 0;
	padding-left: 5px;
}