.notificationDiv{
	background: url(../images/msgBoxConfirm.png) no-repeat left top;
}
.nWarn {
	background: url(../images/msgBoxWarn.png) no-repeat left top;
}
.nError {
	background: url(../images/msgBoxError.png) no-repeat left top;
}
.notificationIcon{
	background: url(../images/icons/accept.png) no-repeat left top;
}
.nWarn .notificationIcon{
	background: url(../images/icons/error.png) no-repeat left top;
}
.nError .notificationIcon{
	background: url(../images/icons/exclamation.png) no-repeat left top;
}
.InformationDiv{
	color: #000000;
	font-size: 1em;
	background: url(../images/msgBoxConfirm.png) no-repeat left bottom;
}
.nWarn .InformationDiv{
	background: url(../images/msgBoxWarn.png) no-repeat left bottom;
}
.nError .InformationDiv{
	background: url(../images/msgBoxError.png) no-repeat left bottom;
	color: #FFFFFF;
}
.errorsPage .nError{
	background: transparent none;
	border: 1px solid #DDDDDD;
}
.errorsPage .nError .InformationDiv{
	color: #DD0000;
	background: transparent none;
}
