#productNavigationDiv {
	position: relative;
	float: left;
	margin-left: 0px;
	color: #FFFFFF;
	font-size: 15px;
	margin-right: 5px;
	height: 35px;
	width: auto;
	top: 5px;
	left: 10px;
}
#productNavigationDiv .pasLink, #productNavigationDiv #Party, #productNavigationDiv #id_LogOut, #productNavigationDiv #Billing  {
	font-size: 15px;
	line-height: 33px;
	padding: 0px 10px;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTRlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top, #696969 0%, #4e4e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #696969 0%, #4e4e4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #696969 0%, #4e4e4e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#696969', endColorstr='#4e4e4e'); /* for IE */
}
#productNavigationDiv #id_LogOut {
		margin-left: 0px;
}
/* have to add this here to override base */
#productNavigationDiv a.pasLink:hover, #productNavigationDiv a#Party:hover, #productNavigationDiv a#id_LogOut:hover, #productNavigationDiv a#Billing:hover  {
	background: #cfcfcf;
	filter: none;
}

#productNavigationDiv a {
	color: #FFFFFF;
	height: 33px;
	width: auto;
	border: 1px solid #2e2e2e;
	border-radius: 4px;
	text-shadow: none;
    margin-right: 10px;
	-moz-box-shadow: 0px 0px 0.25px 1px #777777;
	-webkit-box-shadow: 0px 0px 0.25px 1px #777777;
	box-shadow: 0px 0px 0.25px 1px #777777;
}

#productNavigationDiv a:hover,
#productNavigationDiv a:focus {
	background: #cfcfcf;
	color: #515151;
	text-decoration: none;
	filter: none;
}
