#sendToGroup{
	width:100%; 
	margin:10px 0px;
	padding-bottom:10px;
	overflow:hidden;
}
.sendToRadios{
	width:220px;
	float:left;
}
.sendToRadios > div {padding-top:5px;}
.sendToRadios > div label {padding-left:5px;}

#sendToGrids{
	width:400px;
	float:left;
	clear:left;
}
#messageText div {clear:both;}
#policyQuoteLink {padding:5px 0px 5px 0px;}

#newMessageFields{
	margin:10px 0px;
	width:100%;
}
#typeText{
	float:left;
	clear:both;
}
#subjectText{
	float:left;
	clear:both;
	margin-top:10px;
}
#messageText{
	float:left;
	clear:both;
	margin-top:10px;
}
#messageActions{
	margin-top: 10px;
}
#messageActions { margin-top:10px; }

.g-btn-bar { padding-bottom: 10px; }