/* CSS Document */
#leftPanelArea{display: none;}
#main{width: 100%;}
#reportSelectionDiv{
	float: left;
}
#reportHistory > label {
	float: left;
	margin-left: 20px;
}
#reportList > label {
	float: left;
	margin-left: 20px;
}
#exportList > label {
	float: left;
	margin-left: 20px;
}
#reportSelectionDiv{
	float: left;
}
#oReportDiv {
	overflow-y: hidden;
	margin-top: 10px;
	width: 100%:
}





