#QueueUnassignedContainer, #QueueAssignedContainer{
	width:100%;
}
.basicOptionGroup{
	width:100%;
	overflow:hidden;
}
.basicOptionGroup select{
	float:left;
}

#unassignedMoreOptions > .g-btn, #assignedMoreOptions > .g-btn{
	margin-top:13px;
}
#assignedMoreOptionsToggle, #unassignedMoreOptionsToggle { padding-left: 20px; }
#unassignedFilter { margin-left: 10px; }
#assignedQueueToolbar, #unassignedQueueToolbar { margin-bottom: 10px; }