/*
Chrome and FF: 
lang_it - Italian
lang_de - German

IE: 
lang_it-IT - Italian
lang_de-DE - German
*/



/*actions*/
.lang_it #specialactions,
.lang_it-IT #specialactions,
.lang_de #specialactions,
.lang_de-DE #specialactions {
	width: auto;
	margin-right: 310px;
}

.lang_it .specialActionsCaption,
.lang_it-IT .specialActionsCaption,
.lang_de .specialActionsCaption,
.lang_de-DE .specialActionsCaption {
	font-size: 12px;
}


/*product navigation*/
.lang_it #productNavigationDiv .pasLink, .lang_it #productNavigationDiv #Party, .lang_it #productNavigationDiv #id_LogOut, .lang_it #productNavigationDiv #Billing,
.lang_it-IT #productNavigationDiv .pasLink, .lang_it-IT #productNavigationDiv #Party, .lang_it-IT #productNavigationDiv #id_LogOut, .lang_it-IT #productNavigationDiv #Billing,
.lang_de #productNavigationDiv .pasLink, .lang_de #productNavigationDiv #Party, .lang_de #productNavigationDiv #id_LogOut, .lang_de #productNavigationDiv #Billing,
.lang_de-DE #productNavigationDiv .pasLink, .lang_de-DE #productNavigationDiv #Party, .lang_de-DE #productNavigationDiv #id_LogOut, .lang_de-DE #productNavigationDiv #Billing {
	font-size: 12px;
}

.lang_it #productNavigationDiv #id_LogOut,
.lang_it-IT #productNavigationDiv #id_LogOut,
.lang_de #productNavigationDiv #id_LogOut,
.lang_de-DE #productNavigationDiv #id_LogOut {
	margin-left: 20px;
}


/*quicksearch*/
.lang_it #quickSearch input,
.lang_it-IT #quickSearch input .lang_de #quickSearch input,
.lang_de-DE #quickSearch input {
	font-size: 12px;
	padding-left: 4px;
	padding-right: 0px;
}

.dct_bil .lang_it #quickSearchModeIdCmp,
.dct_bil .lang_it-IT #quickSearchModeIdCmp,
.dct_bil .lang_de #quickSearchModeIdCmp,
.dct_bil .lang_de-DE #quickSearchModeIdCmp {
	width: 181px !important;
}


.lang_it #quickSearchModeIdCmp,
.lang_it-IT #quickSearchModeIdCmp,
.lang_de #quickSearchModeIdCmp,
.lang_de-DE #quickSearchModeIdCmp {
	width: 166px;
	padding-left: 2px;
}

.dct_bil .lang_it #quickSearch img.x-form-trigger,
.dct_bil .lang_it-IT #quickSearch img.x-form-trigger,
.dct_bil .lang_de #quickSearch img.x-form-trigger,
.dct_bil .lang_de-DE #quickSearch img.x-form-trigger {
	padding-left: 0px;
}

.dct_bil .lang_de #quickSearchModeId,
.dct_bil .lang_de-DE #quickSearchModeId {
	width: 148px !important;
}

.lang_de #quickSearchModeId,
.lang_de-DE #quickSearchModeId {
	width: 133px !important;
}

.ext-chrome .lang_de #quickSearch img.x-form-trigger,
.ext-chrome .lang_de-DE #quickSearch img.x-form-trigger {
	margin-left: 0px;
}
