.dct_login #formContent {
	padding: 0px;
	background-image: none;
	height: 640px;
}
.dct_login.ruleset_leftNav #main {
	background: transparent;
	-webkit-box-shadow: none;
	border: none;
	left: 260px;
	top: 210px;
	width: 600px;
	height: 300px;
}

#existingPasswordLabel, #newpasswordLabel, #confirmpasswordLabel {
 margin-left: 8px;}
 
.dct_login #wrapper{
	width: 1119px;
	height: 845px;
	background: url('../images/policy-backer3.png') no-repeat;
	margin: 20px auto;
	position: relative;
}
#Logon {
	left: 80px;
}
#NewAgentsInformation {
	left: 360px;
	top: 137px;
}
#NewAgentsInformation a {
	display: block;
	width: auto;
	height: auto;
	padding: 5px 10px;
	text-decoration: underline;
	font-size: 11px;
	background: none;
	color: inherit;
	top: 0px;
	left: 0px;
}

.dct_login .contentAreaBottom, .dct_login .cornerBottomLeftWhite, .dct_login .cornerBottomRightWhite {
	display: none
}

.dct_login .x-form-text {
	border-radius: 4px;	
}

.logonTextFieldGroup label {
	display: block;
	width: 80px;
	float: none;
	padding-left: 5px;
}

#Logon {
	/*position: absolute;*/
	top: 120px;
	left: 130px;
	width: 400px;
	font-weight: bold !important;
}

#logonFields .g-btn {
	margin: -1px 0px 0px 80px;
	float: left;
}

#logonFields .g-btn img {
	display: none;
}

#logonFields .g-btn-l, #logonFields .g-btn-m, #logonFields .g-btn-r {
	height: 17px;
}

#logonFields .g-btn a {
	float: right;
	height: auto;
	width: auto;
	padding: 2px 12px;
	margin-right: 10px;
	position: relative;
	border: 3px solid #FFF;
	color: #0085D1;
	background-color: #F0F0F0;
	background: -webkit-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background: -ms-linear-gradient(top,#fff 0,#dfdfdf 100%);
	background: linear-gradient(to bottom,#fff 0,#dfdfdf 100%);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 0 .25px 1px #CECECE;
	-webkit-box-shadow: 0 0 .25px 1px #CECECE;
	box-shadow: 0 0 .25px 1px #CECECE;
	text-decoration: none;
	text-shadow: 1px 1px 0 #FFF;
	font-weight: bold;
}

#rememberGroup {
	padding-top: 15px;
	padding-left: 0px;
	float: left;
}

#NewAgentsInformation {
	left: 81px;
	top: 104px;
	position: relative;
}

#RememberMePrivacyNotice {
	top: 20px;	
}

/*Fix for IE8 not liking float left*/
