/* glyph styles */
@font-face {
	font-family: aswIcons;
	font-style: normal;
	speak: none;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	src: url("../images/fonts/aswIcons.eot"); /* IE8 hack */
	src: local("aswIcons Regular"),
	url("../images/fonts/aswIcons.ttf") format("truetype"),
	url("../images/fonts/aswIcons.eot") format('embedded-opentype'), 
	url("../images/fonts/aswIcons.svg") format("svg"), 
	url("../images/fonts/aswIcons.woff") format("woff");
}
@font-face {
	font-family: aswSiteIcons;
	font-style: normal;
	speak: none;
	font-weight: bold;
	-webkit-font-smoothing: antialiased;
	src: url("../images/fonts/aswSiteIcons.eot"); /* IE8 hack */
	src: local("aswSiteIcons"),
	url("../images/fonts/aswSiteIcons.ttf") format("truetype"),
	url("../images/fonts/aswSiteIcons.eot") format('embedded-opentype'), 
	url("../images/fonts/aswSiteIcons.svg") format("svg"), 
	url("../images/fonts/aswSiteIcons.woff") format("woff");
}
#wrapper {
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	width: 960px;
}
#formContent {
	min-height: 400px;
}
#main {
	margin: 0px auto; 
	width: 100%;
	/* column B */
	padding: 0px;
	padding-left: 0.5%;
	overflow: visible;
	position: relative;
	float: left;
	left: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* group box */
	background: #F2F7FA none repeat scroll 0 0;
	overflow: visible;
	padding: 0 0 10px;
	top: 0;
	 border-radius: 8px;
	border: 3px solid #FFFFFF;
	box-shadow: #000000 0px 0px 8px;
	margin-bottom: 7px;
}
 /*fix for border radius dispalying in FF*/
.dct_login #main {
	border-radius: none;
	border: none;
	box-shadow: none;
}
.dct_dashboardHome #main, .dct_billingDashBoard #main, .dct_partyDashBoard #main{
	width: 100%;
}
.dct_documentation #main {
	background-image:  none;
}
.dct_errorDetails #main {
	width:  550px;
}
.bulletLink  img{ display: none;}

body.dct_popup #productName{
	height: 0px;
	margin-top: 0px;
	margin-bottom: 0px;	
}


#productName{
	height: 20px;
	margin-top: 4px;
	margin-bottom: 4px;
	min-width: 120px;
	min-width: 120px;
}
#pageTop { /* .groupBox .boxTitle */
	background: #006699;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
/* Page Title styles */
#pageTitle { /* .groupBox .boxTitle p */
	color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-size: 13px;
	padding: 10px;
	line-height: normal;
}
#pageInst {
	background: #F2F7FA;
	color: black;
	padding-top:10px;
	padding-left: 10px;
}
.dct_dashboardHome #pageTitle, .dct_billingDashBoard #pageTitle, .dct_partyDashBoard #pageTitle{
	margin-left: 8px;
}
/*changed rules sets for password changeout to ASW style*/

#pageNav > ul > li > a {
	background: url("") no-repeat scroll right center transparent;
}
#supportIcons{ /* Supporting icon navigation */
	top: -20px;
}
.ruleset_leftNav #pageNav > ul > li > a {
	padding-right: 10px;
	padding-left: 10px;
	line-height: 15px;
}
#pageInstruction {
	margin-left: 10px;
	margin-top: 3px;
}

#batchProcessJobList {
	width: 100%;
}
/*changed Policy actions section to include new column header. ASW style*/
#relatedActionsTitle, #logonActionsTitle {
	color: #ffffff;
	font-size: 13px;
	font-weight: bold;
	margin: 6px 0 0 30px;
}
#requiredTxt  {
	padding-left: 5px;
}
#justMessages li{
	color: #333333;
}
#moduleDisplayTable img{
	display: none;
}
#moduleDisplayTable td {
	background: #FFFFFF;
	margin-top: 3px;
	padding: 3px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #E6E6EB;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #EAEAEA;    
	overflow: hidden;
}
#reportList #moduleDisplayTable td {
	padding-bottom: 0;
	padding-top: 0;
	height: 24px;
}
.noItems {
	padding-left: 5px;
	font-size: 11px;
}
#tblErrorFilters {
	padding-left: 5px;
}

/*new notification page padding-left*/
#messageTextLabel, #messageSubjectLabel, #messageTypeLabel{
	padding-left: 3px;
}

/* added some bottom padding for the button in the main content area */
#returnToPolicyA {
	padding-bottom: 8px;
	padding-left: 5px;
}
#resetPrintJobDetaulsA {
	padding-bottom: 8px;
	padding-left: 5px;
}

.ruleset_styleWithOutPanels {
	width: 731px;
	margin-left: 0px;
	padding-left: 5px;
	background: #ffffff;
	background:  #ffffff url("../images/main-bg-bottom-asw.png") repeat-x right bottom;
}
#innerrightpanel {
	width: 224px;
	margin-left: 0px;
}
.tskbr-g-m-item.dctpolicyattachmentstaskbargroupmenuitem .tskbr-g-m-i-primary span {
	color: #4065af;
}
/* TaskBar overrides */

.tskbr-g-menu .x-panel-header-text img {
display: none;
}
.tskbr-g-menu .x-panel-header {
	color: #000;
}
.tskbr-g-menu button, #workbenchToolbar button{
	background-image: none !important;
}
#workbenchToolbar .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	padding-left: 4px;
}
.tskbr-g-menu .x-btn-text-icon .x-btn-icon-small-left .x-btn-text {
	padding-left: 2px;
	padding-right: 2px;
}