.optSpecialRadio {
	background-image: url(../images/icons/star_gold.png);
	background-repeat: no-repeat;
	background-position: right top;
}

.extValue {
	border-style: solid;
	border-color: #b5b8c8;
	border-width: 1px;
}

.extSpecial {
	background-image: url(../images/icons/star_gold.png);
	background-repeat: no-repeat;
	background-position: right;
}

/* specific overrides of Manuscript CSS so that it conforms to 2.5 Paprika look */
.CarrierCommercialAuto_lob .LineDetail_body .x_Width100,
.CarrierCommercialAuto_lob .LineDetail_body .x_Width110,
.CarrierCommercialAuto_lob .LineDetail_body .x_Width130 {
	width: auto;
}

.CarrierCommercialAuto_lob .LineDetail_body .x_Width250 {
	width: 250px;
}

.CarrierGeneralLiability_lob .PremOpProductsDetail_body .x_Width300 {
	width: auto;
}

#partyTools {
	margin-left: -2px;
	padding: 0px;
}

.CarrierCPP_lob .x_Width110 {
	width: auto;
}

/*Party Licenses Page*/
.Licenses_body table.formTable div.acrossLayout table.formTable {
	table-layout: fixed;
	width: 600px;
}

.Licenses_body table.formTable th {
	word-wrap: break-word;
}

.Licenses_body table.formTable td {
	word-wrap: break-word;
}

.Licenses_body table.formTable table.formTable td div,
.Licenses_body table.formTable table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Locations Page*/
.LocationDetail_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}

.LocationDetail_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}

.LocationDetail_body table.formTable th {
	word-wrap: break-word;
}

.LocationDetail_body table.formTable td {
	word-wrap: break-word;
}

.LocationDetail_body .dct_pty table.formTable td div,
.LocationDetail_body .dct_pty table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Other Names Page*/
.OtherNames_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}
.OtherNames_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}

.OtherNames_body table.formTable th {
	word-wrap: break-word;
}

.OtherNames_body table.formTable td {
	word-wrap: break-word;
}

.OtherNames_body table.formTable td div,
.OtherNames_body table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}

/*Party Addresses Page*/
.AddressLocationDetail_body div.acrossLayout > table.formTable {
	table-layout: auto;
	width: 700px;
}
.AddressLocationDetail_body div.downLayout > table.formTable {
	table-layout: auto;
	width: 100%;
}
.AddressLocationDetail_body table.formTable th {
	word-wrap: break-word;
}

.AddressLocationDetail_body table.formTable td {
	word-wrap: break-word;
}

.AddressLocationDetail_body table.formTable td div,
.AddressLocationDetail_body table.formTable td div div {
	max-width: 60px;
	white-space: normal;
}
