.dct_errors #leftPanelArea {
	display: none;
}

.ruleset_leftNav #pageTitle {
	color: #ffffff;
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
	padding-bottom: 5px;
}
.ruleset_leftNav #leftPanelArea {
	margin-top: 28px;
	padding-bottom: 10px;
	left: 0;
	background: #F2F8F2 none repeat scroll 0 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border-radius: 8px;
	border: 3px solid #FFFFFF;
	box-shadow: #000000 0px 0px 8px;
	position: relative;
}
.ruleset_leftNav #leftPanelAreaBody {
	background: #007000;
	color: #FFFFFF;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	padding-top: 10px;
	overflow: hidden;
	width: 100%;
}
.ruleset_leftNav #pageNav, .ruleset_leftNav #subactiongroup {
	float: left;
	width: 100%;
	font-size: 14px;
}
.ruleset_leftNav #subactiongroup > ul > li {
	border-top-color: #A6CDA6;
	border-bottom-color: #A6CDA6;
}
.ruleset_leftNav #subactiongroup {
	background-color: #F2F8F2;
	width: 100%;
}
.ruleset_leftNav #pageNav ul, .ruleset_leftNav #subactiongroup ul{
	margin: 0;
	background-color: #F2F8F2;
	border-top: 1px solid #A6CDA6;
	border-bottom: 1px solid #A6CDA6;
	font-size: 14px;
	line-height: normal;
}
.ruleset_leftNav #pageNav li, .ruleset_leftNav #subactiongroup li {
		float: left;
	padding: 2px;
	margin: 0px;
	border-top: 1px solid #A6CDA6;
	border-bottom: 1px solid #A6CDA6;
	border-left: 0px;
	background-color: #F2F8F2;
}
.ruleset_leftNav #pageNav li:hover, .ruleset_leftNav #subactiongroup li:hover {
	float: left;
	background-color: #F2F8F2;
	background: none;
}

.ruleset_leftNav #pageNav li a, .ruleset_leftNav #subactiongroup li a {
	color: #000000;
	padding: 8px;
	background-color: transparent;
	background-image: none;
	font-size: 14px;
	line-height: normal;
	width: auto;
}

.ruleset_leftNav #pageNav li a:hover, .ruleset_leftNav #subactiongroup  li a:hover{
	background: none repeat scroll 0 0 #FFFFFF;
	border: solid 1px #007000;
	margin: -1px; 
	background-image: none;
}
.ext-gecko #leftPanelArea #pageNav li a:hover{
		margin: -1px;
}
.ext-gecko .ruleset_leftNav #pageNav .activeTab, .ext-gecko .ruleset_leftNav #subactiongroup .activeTab {
	padding-right: 0px;
}
.ruleset_leftNav #pageNav .activeTab, .ruleset_leftNav #subactiongroup .activeTab {
	background-image: none !important;
	border: solid 2px #007000;
	background-color: rgb(255,255,255);
	padding-left: 0px;
	padding-right: .5px;
}
.ext-chrome .ruleset_leftNav #pageNav .activeTab {
	box-sizing: border-box;
	width: 194px;
}
	
.ext-ie .ruleset_leftNav #pageNav .activeTab, .ext-ie .ruleset_leftNav #subactiongroup .activeTab {
	padding-right: 0px;
}
.ruleset_leftNav #relatedActions #relatedActionsTitle {
	color: #000000;
	font-weight: bold;
	padding: 10px 5px 2px 10px;
	background: none repeat scroll 0 0 #FFFFFF;
	margin: 0px;
}
.ruleset_leftNav #pageNav>ul>li>a {
	width: auto;
}

.ruleset_leftNav #id_NewNotification{
	background: none;
}
.ruleset_leftNav #fields.styleWithOutPanels {
	width: 731px;
	margin-left: 5px;
}
.ruleset_leftNav #relatedActions{
	background: #F2F8F2;
	margin: 20px 0px 0px 0px ;
	overflow: hidden;
	width: 100%;
	height: auto;
	font-size: 14px;		
	cursor: default;
}

.ruleset_leftNav #relatedActionsTitle, .ruleset_leftNav #logonActionsTitle{
	color: #000000;
	font-size: 14px;
	font-weight: bold;
	border-bottom: 2px solid #007000;
	border-top: 1px solid #A6CDA6;
	margin-top: 5px;
}
.ruleset_leftNav #relatedActions li, .ruleset_leftNav #logonActions li{
	font-size: 11px;
	padding-left: 0px;
}
.ruleset_leftNav #relatedActions li:hover, .ruleset_leftNav #logonActions li:hover{
	background-image: none;
}
.ruleset_leftNav #relatedActions a, .ruleset_leftNav #logonActions a{
	color: #000000;
}
.ruleset_leftNav #relatedActions a:hover, .ruleset_leftNav #logonActions a:hover{
	color: #0000BB;
}
.ruleset_leftNav #relatedActions > ul > li > a {
	display: block;
	padding-left: 5px;
}
.ruleset_leftNav #billingActiveSection, .ruleset_leftNav #policyActiveSection {
	background: #007000;
	color: #FFFFFF;
	width: 100%;
	min-height: 50px;
}
.dct_admin .ruleset_leftNav #leftPanelArea {
	display: none;
}
.ruleset_leftNav #consumerNewQuoteWidget{
	background: #F2F8F2;
	overflow: hidden;
	width: 100%;
	height: auto;
	cursor: default;
	color: #000;
	padding: 0;
	margin: 0;
}
.ruleset_leftNav #consumerNewQuoteWidgetTitle{
color: #000000;
font-weight: bold;
padding: 10px 5px 2px 10px;
background: none repeat scroll 0 0 #FFFFFF;
margin: 0px;
font-size: 14px;
border-bottom: 2px solid #007000;
border-top: 1px solid #A6CDA6;
}
/* Top Nav */
.ruleset_topNav #main {
	background-color: #F2F7FA;
	float: left;
}
.ruleset_topNav #fields.styleWithPanels { width:710px; }
.ruleset_topNav #pageTitle {
	color: #ffffff;
	width: auto;
	height: auto;
	margin-top: 0px;
	margin-left: 0px;
	padding-bottom: 5px;
}
.ruleset_topNav #leftPanelArea {
	height: auto;
}
.ruleset_topNav #pageNav {
	height: auto;
	width: 100%;
}
.ruleset_topNav #fields.styleWithOutPanels {
	width: 954px;
	margin-left: 0px;
	padding-left: 8px;
}

.ruleset_topNav #relatedActions ul {
	float: left;
	margin-top: 1px;
}
/* Menu Navigation Styles */
#actiongroup li a {
	font-weight: bold;
	color: #ffffff;
}

.Pricing_body .ruleset_topNav .styleWithPanels#fields{
	width: 670px;
}
