.dct_PBBIGeocodeMatch #pageTop>#pageTitle,
.dct_partyHistoryData #pageTop>#pageTitle,
.dct_partyMappingActions #pageTop>#pageTitle, 
.dct_PBBIGeocode #pageTop>#pageTitle, 
.dct_partyDataImportWizard #pageTop>#pageTitle{ /* The page title */
	width: auto;
	margin-top: 0px;
	height: 25px;
	padding: 3px 5px 5px 15px;
	font-weight: bold;
	color: white;
}
.dct_PBBIGeocodeMatch #main,
.dct_partyHistoryData #main,
.dct_partyMappingActions #main, 
.dct_PBBIGeocode #main, 
.dct_partyDataImportWizard #main {
	width: 100%;
}
.dct_PBBIGeocodeMatch #wrapper,
.dct_partyHistoryData #wrapper,
.dct_partyMappingActions #wrapper, 
.dct_PBBIGeocode #wrapper, 
.dct_partyDataImportWizard #wrapper {
	width: 100%;
	margin: 0px 0px 0px 0px;
}
.dct_PBBIGeocodeMatch #pageTop,
.dct_partyHistoryData #pageTop,
.dct_partyMappingActions #pageTop,
.dct_PBBIGeocode #pageTop, 
.dct_partyDataImportWizard #pageTop
{
	height:33px;
	background: #006699;
	padding: 0;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.dct_PBBIGeocodeMatch #pageTop>#pageTitle, 
.dct_partyHistoryData #pageTop>#pageTitle, 
.dct_partyMappingActions #pageTop>#pageTitle, 
.dct_PBBIGeocode #pageTop>#pageTitle, 
.dct_partyDataImportWizard #pageTop>#pageTitle 
{
	color: #FFFFFF;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	font-size: 13px;
	padding: 10px;
	line-height: normal;
}

/*risks detail */
.Relationships_body .acrossLayout > .g-action{
	margin-top: 15px;
}
.Relationships_body .g-loneIcon {
	margin-top: 0px;
}
/*licenses*/
.Licenses_body .downLayout .x_PaddingLeft10{
	padding-left: 0px;
}