/* Quick Search */
#quickSearch input {
	font-size: 13px;
}
#quickSearch {
	top: 5px;
	height: 28px;
	padding: 5px 2px 0px 0px;
	font-size: 13px;
	right: 0px;
	background: #FFFFFF;
	border: 1px solid #2E2E2E;
	-moz-border-radius: 4px 4px 4px 4px;
	-webkit-border-radius: 4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
#quickSearchLabel {
  display: none;
}
#quickSearchTextId {
	width: 120px;
	border: 0px;
	margin-top: 5px;
}
#quickSearchModeIdCmp { /* select box */
	width: 154px;
	padding-left: 2px;
}
.dct_bil #quickSearchModeIdCmp {
	width: 136px;
}
#quickSearchTextIdCmp { /* text input */
	border-left: 4px solid #4c4c4c;
	height: 35px;
	width: 120px;
	top: -5px;
}
#quickSearch .x-form-text {
	border: none;
}
#quickSearch img.x-form-trigger {
	width: 24px;
	height: 28px;
	background: url('../images/trigger_header.gif') no-repeat;
	border: none;
	top: -3px;
	margin-left: 2px;
}
#quickSearch .x-trigger-wrap-focus .x-form-trigger {
	background-position: 0px 0px;
}
#quickSearch .x-trigger-wrap-focus .x-form-trigger-over {
	background-position: -24px 0px;
}
#quickSearch #id_quickSearch {
	top: 2px;
	margin: 0px;
	width: 17px;
	text-decoration: none;
	border-left: 1px solid #D8DBE0;
	padding: 5px 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	color: #FFFFFF;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY5Njk2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ZTRlNGUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -webkit-linear-gradient(top, #696969 0%, #4e4e4e 100%); /* Chrome10+,Safari5.1+ */
	background: -ms-linear-gradient(top,  #696969 0%, #4e4e4e 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #696969 0%, #4e4e4e 100%); /* W3C */
}
a#id_quickSearch:before {
	content: "F";
font-family: 'aswIcons';
font-size: 16px;
}
#quickSearch #id_quickSearch:hover, #quickSearch #id_quickSearch:focus {
	background: #cfcfcf;
	color: #515151;
}

#id_quickSearch img {
	display: none;
}
#quickSearch select{
	font-size: 11px;
}

/* Search Page */
#searchLabel {
	display: none;
	float: left;
	padding-top: 3px;
	width: 60px;
}
#searchIsLabel{
	display: none;
}
#searchUsingLabel{
	display: none;
}
#searchFilterSection {
	margin-bottom: 10px;
	margin-left: 8px;
	overflow: hidden;
	width: 100%;
}
#searchFilterActions {
	height: 26px;
}