<?xml version="1.0" encoding="UTF-8" ?>

<settings>
	<CoreDirectory>Skins\DCTBase\Core</CoreDirectory>
	<Themes>
    <Theme name="GTPCasualty"/>
    <ExtJsTheme cssFile="ext-xtheme"/>
    <DCTExtJsExtensionTheme cssFile="dctExt-xtheme"/>
	</Themes>
	<Panels>
		<RatingMessages showBar="1" />
		<TogglePanelButton showButton="0" />
	</Panels>
	<Buttons>
		<PreviousButtonDefaultType></PreviousButtonDefaultType>
		<NextButtonDefaultType></NextButtonDefaultType>
	</Buttons>
  <StaticPanelContent location="leftPanel"></StaticPanelContent>
	<Controls>
		<ComboBoxes maxSize="200" />
		<WorkbenchToolbar enabled="1" TasksDueDateSortOrder ="Ascending">
			<ToolbarGroups>
				<Group name="NotesController" enabled="1"/>
				<Group name="AttachmentsController" enabled="1"/>
				<Group name="TasksController" enabled="1"/>					
			</ToolbarGroups>
		</WorkbenchToolbar>
	</Controls>
	<Conversion>
		<ExtJsControls convert="1" ignoreIECheck="1" />
	</Conversion>
	<custom></custom>
</settings>